<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>2D Region-2</string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.10000000000000001</real>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>2D Region-2</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>TestMesh</string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>TestMesh</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0,1</string>
							</dict>
							<key>Selected</key>
							<string>Range of TestMesh</string>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Mesh Values</string>
					<key>CommandType</key>
					<string>Mesh Values</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Digits</key>
						<string>3</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>10</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>GridNumber</key>
						<string>On</string>
						<key>GridOffset</key>
						<string>Off</string>
						<key>Magnification</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>TestMesh</string>
						</dict>
						<key>Position</key>
						<integer>0</integer>
						<key>StartAt1</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Grid from TestMesh</string>
					<key>CommandType</key>
					<string>Grid</string>
					<key>Computation</key>
					<dict>
						<key>ClockWise</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>10</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Selected</key>
							<string>Grid from TestMesh</string>
						</dict>
						<key>GridNumber</key>
						<string>Off</string>
						<key>GridOffset</key>
						<string>Off</string>
						<key>Linestyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Alpha</key>
										<real>0.5</real>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>Position</key>
						<integer>0</integer>
						<key>StartAt1</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>AxisTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawGrid</key>
						<string>On</string>
						<key>DrawX</key>
						<string>On</string>
						<key>DrawY</key>
						<string>On</string>
						<key>Font</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>1</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Line</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Meet</key>
						<integer>0</integer>
						<key>MinorTicks</key>
						<string>On</string>
						<key>TitleFont</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XFrom</key>
						<string>Off</string>
						<key>XTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YFrom</key>
						<string>Off</string>
						<key>YTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>490</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>681</real>
				<real>293</real>
				<real>581</real>
				<real>585</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>656,490</string>
			<key>ViewSizeSeparated</key>
			<string>581,563</string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>Python mesh</string>
			<key>WindowPos</key>
			<array>
				<real>179</real>
				<real>90</real>
				<real>654</real>
				<real>788</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>2D Region-2</string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.10000000000000001</real>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>2D Region-2</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>TestMesh</string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>Function on Grid from TestMesh</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0,1</string>
							</dict>
							<key>Selected</key>
							<string>Range of TestMesh</string>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Mesh Values</string>
					<key>CommandType</key>
					<string>Mesh Values</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Digits</key>
						<string>3</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>10</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>GridNumber</key>
						<string>On</string>
						<key>GridOffset</key>
						<string>Off</string>
						<key>Magnification</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>TestMesh</string>
						</dict>
						<key>Position</key>
						<integer>0</integer>
						<key>StartAt1</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>AxisTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawGrid</key>
						<string>On</string>
						<key>DrawX</key>
						<string>On</string>
						<key>DrawY</key>
						<string>On</string>
						<key>Font</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>1</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Line</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Meet</key>
						<integer>0</integer>
						<key>MinorTicks</key>
						<string>On</string>
						<key>TitleFont</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XFrom</key>
						<string>Off</string>
						<key>XTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YFrom</key>
						<string>Off</string>
						<key>YTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>2D Mesh Grid</string>
					<key>CommandType</key>
					<string>Grid</string>
					<key>Computation</key>
					<dict>
						<key>ClockWise</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>10</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Selected</key>
							<string>Grid from TestMesh</string>
						</dict>
						<key>GridNumber</key>
						<string>Off</string>
						<key>GridOffset</key>
						<string>Off</string>
						<key>Linestyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Alpha</key>
										<real>0.5</real>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>Position</key>
						<integer>0</integer>
						<key>StartAt1</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>489</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>287</real>
				<real>293</real>
				<real>581</real>
				<real>585</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>668,489</string>
			<key>ViewSizeSeparated</key>
			<string>581,563</string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>DataTank mesh</string>
			<key>WindowPos</key>
			<array>
				<real>687</real>
				<real>90</real>
				<real>666</real>
				<real>788</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>Image from GDAL</string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>Image from GDAL</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>119,241</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>AxisTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawGrid</key>
						<string>On</string>
						<key>DrawX</key>
						<string>On</string>
						<key>DrawY</key>
						<string>On</string>
						<key>Font</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>1</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Line</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Meet</key>
						<integer>1</integer>
						<key>MinorTicks</key>
						<string>On</string>
						<key>TitleFont</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XFrom</key>
						<string>Off</string>
						<key>XTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YFrom</key>
						<string>Off</string>
						<key>YTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>398</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>634,398</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Image from GDAL</string>
			<key>WindowPos</key>
			<array>
				<real>751</real>
				<real>118</real>
				<real>632</real>
				<real>760</real>
			</array>
		</dict>
	</array>
	<key>InformationSize</key>
	<array>
		<real>400</real>
		<real>824</real>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>1</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>394</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Ending</key>
				<string>On</string>
				<key>FileIsClosed</key>
				<string>NO</string>
				<key>FileName</key>
				<string>mesh.dtbin</string>
			</dict>
			<key>Selection</key>
			<string>Open</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>test.dtbin</string>
			<key>VariableType</key>
			<string>DataFile</string>
			<key>ViewHeight</key>
			<real>160</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>Image from GDAL</string>
					<key>Token</key>
					<string>Image from GDAL</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>Image from GDAL</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>TestMesh</string>
					<key>Token</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>TestMesh</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Entry</key>
				<dict>
					<key>Title</key>
					<string>Values</string>
					<key>Token</key>
					<string>Values</string>
				</dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Array from TestMesh</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Array from TestMesh</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of Array from TestMesh</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Mesh</key>
				<dict>
					<key>Selected</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Grid from TestMesh</string>
			<key>VariableType</key>
			<string>Mesh2DGrid</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Grid from TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Extract Points</string>
			<key>VariableName</key>
			<string>Points from Grid from TestMesh</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Points from Grid from TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Point Variable</string>
			<key>VariableName</key>
			<string>Array form of Points from Grid from TestMesh</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Array form of Points from Grid from TestMesh</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of Array form of Points from Grid from TestMesh</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Value Range</string>
			<key>VariableName</key>
			<string>Range of TestMesh</string>
			<key>VariableType</key>
			<string>Range</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Function</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Function</key>
						<string>x^2+y^2</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Grid</key>
				<dict>
					<key>Selected</key>
					<string>Grid from TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Values From Function</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Function on Grid from TestMesh</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Interactive</key>
				<string>On</string>
				<key>XMax</key>
				<string>1.2</string>
				<key>XMin</key>
				<string>-0.2</string>
				<key>XRestrict</key>
				<string>-∞,∞</string>
				<key>YMax</key>
				<string>1.2</string>
				<key>YMin</key>
				<string>-0.2</string>
				<key>YRestrict</key>
				<string>-∞,∞</string>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>2D Region-2</string>
			<key>VariableType</key>
			<string>Region2D</string>
		</dict>
	</array>
	<key>WindowPos</key>
	<array>
		<real>36</real>
		<real>0.0</real>
		<real>512</real>
		<real>878</real>
	</array>
</dict>
</plist>
