<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comment</key>
	<string>This will ensure that we pass an absolute path, since CWD is different
Prefer to pass a file, but path can be used if you have a world (e.g., .tfw) file
Save as module twice, once with path checked, once with file checked (so 2 modules)</string>
	<key>String</key>
	<string>~/Desktop/00164658/00164658_int16.tiff
EPSG:4326</string>
</dict>
</plist>
