<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sites</key>
	<dict>
		<key>Africa</key>
		<array>
			<dict>
				<key>country</key>
				<string>Algeria</string>
				<key>name</key>
				<string>ctan.epst-tlemcen.dz</string>
				<key>urls</key>
				<array>
					<string>http://ctan.epst-tlemcen.dz/tex-archive/</string>
					<string>ftp://ctan.epst-tlemcen.dz/pub/tex-archive/</string>
					<string>rsync://ctan.epst-tlemcen.dz/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.leg.uct.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>http://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>rsync://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.sun.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.sun.ac.za/CTAN/</string>
					<string>http://ftp.sun.ac.za/ftp/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>mirror.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.mirror.ac.za/</string>
					<string>http://ctan.mirror.ac.za/</string>
					<string>rsync://ctan.mirror.ac.za/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>mirror.ufs.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ufs.ac.za/applications/ctan/</string>
					<string>http://mirror.ufs.ac.za/ctan/</string>
					<string>rsync://mirror.ufs.ac.za/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Asia</key>
		<array>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.lzu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.lzu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.cqu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.cqu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.hustunique.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.hustunique.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.opencas.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.opencas.cn/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.shuosc.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.shuosc.org/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.tuna.tsinghua.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
					<string>rsync://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.ustc.edu.cn</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ustc.edu.cn/CTAN/</string>
					<string>http://mirrors.ustc.edu.cn/CTAN/</string>
					<string>rsync://mirrors.ustc.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>ctan.imsc.res.in</string>
				<key>urls</key>
				<array>
					<string>http://ctan.imsc.res.in/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.asis.io</string>
				<key>urls</key>
				<array>
					<string>http://ctan.asis.io/</string>
					<string>rsync://ctan.asis.io/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.yazd.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://ctan.yazd.ac.ir/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>repo.iut.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://repo.iut.ac.ir/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.jaist.ac.jp</string>
				<key>urls</key>
				<array>
					<string>http://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>rsync://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>ftp://ftp.jaist.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.kddilabs.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kddilabs.jp/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.u-aizu.ac.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.u-aizu.ac.jp/pub/tex/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.kaist.ac.kr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kaist.ac.kr/tex-archive/</string>
					<string>rsync://ftp.kaist.ac.kr/ctan/</string>
					<string>http://ftp.kaist.ac.kr/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.ktug.org</string>
				<key>urls</key>
				<array>
					<string>http://ftp.ktug.org/tex-archive/</string>
					<string>ftp://ftp.ktug.org/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.neowiz.com</string>
				<key>urls</key>
				<array>
					<string>http://ftp.neowiz.com/CTAN/</string>
					<string>ftp://ftp.neowiz.com/CTAN/</string>
					<string>rsync://ftp.neowiz.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Philippines</string>
				<key>name</key>
				<string>mirror.pregi.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.pregi.net/tex-archive/</string>
					<string>http://mirror.pregi.net/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Saudi Arabia</string>
				<key>name</key>
				<string>latex.imamu.edu.sa</string>
				<key>urls</key>
				<array>
					<string>http://latex.imamu.edu.sa/tex-archive/</string>
					<string>ftp://latex.imamu.edu.sa/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.ccu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ccu.edu.tw/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.yzu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.yzu.edu.tw/CTAN/</string>
					<string>http://ftp.yzu.edu.tw/CTAN/</string>
					<string>rsync://ftp.yzu.edu.tw/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Thailand</string>
				<key>name</key>
				<string>mirror.kku.ac.th</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.kku.ac.th/CTAN/</string>
					<string>http://mirror.kku.ac.th/CTAN/</string>
					<string>rsync://mirror.kku.ac.th/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Europe</key>
		<array>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>mirror.easyname.at</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.easyname.at/ctan/</string>
					<string>rsync://mirror.easyname.at/ctan/</string>
					<string>http://mirror.easyname.at/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Belarus</string>
				<key>name</key>
				<string>mirror.datacenter.by</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.datacenter.by/pub/mirrors/CTAN/</string>
					<string>http://mirror.datacenter.by/pub/mirrors/CTAN/</string>
					<string>rsync://mirror.datacenter.by/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Denmark</string>
				<key>name</key>
				<string>mirrors.dotsrc.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.dotsrc.org/ctan/</string>
					<string>ftp://mirrors.dotsrc.org/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>ftp.funet.fi</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.funet.fi/pub/TeX/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mines-albi.fr</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mines-albi.fr/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>distrib-coffee.ipsl.jussieu.fr</string>
				<key>urls</key>
				<array>
					<string>http://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>ftp://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>rsync://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirror.ibcp.fr</string>
				<key>urls</key>
				<array>
					<string>http://mirror.ibcp.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.ircam.fr</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.ircam.fr/pub/CTAN/</string>
					<string>ftp://mirrors.ircam.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>standaloneinstaller.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.standaloneinstaller.com/ctan/</string>
					<string>rsync://mirrors.standaloneinstaller.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>babyname.tips</string>
				<key>urls</key>
				<array>
					<string>http://babyname.tips/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.space-pro.be</string>
				<key>urls</key>
				<array>
					<string>http://ctan.space-pro.be/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fau.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fau.de/ctan/</string>
					<string>http://ftp.fau.de/ctan/</string>
					<string>rsync://ftp.fau.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fernuni-hagen.de</string>
				<key>urls</key>
				<array>
					<string>http://ftp.fernuni-hagen.de/ftp-dir/pub/mirrors/www.ctan.org/</string>
					<string>ftp://ftp.fernuni-hagen.de/pub/mirrors/www.ctan.org/</string>
					<string>rsync://ftp.fernuni-hagen.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fu-berlin.de/tex/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.gwdg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gwdg.de/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.mpi-sb.mpg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.mpi-sb.mpg.de/pub/tex/mirror/ftp.dante.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrze.uni-erlangen.de</string>
				<key>urls</key>
				<array>
					<string>http://ftp.rrze.uni-erlangen.de/ctan/</string>
					<string>ftp://ftp.rrze.uni-erlangen.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrzn.uni-hannover.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.tu-chemnitz.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.tu-chemnitz.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.physik-pool.tu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.physik-pool.tu-berlin.de/tex-archive/</string>
					<string>http://mirror.physik-pool.tu-berlin.de/tex-archive/</string>
					<string>rsync://mirror.physik-pool.tu-berlin.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.unicorncloud.org</string>
				<key>urls</key>
				<array>
					<string>http://mirror.reismil.ch/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>sunsite.informatik.rwth-aachen.de</string>
				<key>urls</key>
				<array>
					<string>http://vesta.informatik.rwth-aachen.de/ftp/pub/mirror/ctan/</string>
					<string>ftp://sunsite.informatik.rwth-aachen.de/pub/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.cc.uoc.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cc.uoc.gr/mirrors/CTAN/</string>
					<string>http://ftp.cc.uoc.gr/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.ntua.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ntua.gr/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Ireland</string>
				<key>name</key>
				<string>ftp.heanet.ie</string>
				<key>urls</key>
				<array>
					<string>http://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
					<string>rsync://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
					<string>ftp://ftp.heanet.ie/pub/ctan/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Italy</string>
				<key>name</key>
				<string>ctan.mirror.garr.it</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.garr.it/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ctan.uib.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.uib.no/pub/CTAN/</string>
					<string>http://ctan.uib.no/</string>
					<string>rsync://ctan.uib.no/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>ftp.gust.org.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gust.org.pl/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>piotrkosoft.net</string>
				<key>urls</key>
				<array>
					<string>http://piotrkosoft.net/pub/mirrors/CTAN/</string>
					<string>rsync://ftp.piotrkosoft.net/mirrors/CTAN/</string>
					<string>ftp://ftp.piotrkosoft.net/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>sunsite.icm.edu.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.icm.edu.pl/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.di.uminho.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.di.uminho.pt/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.eq.uc.pt</string>
				<key>urls</key>
				<array>
					<string>http://ftp.eq.uc.pt/software/TeX/</string>
					<string>ftp://ftp.eq.uc.pt/pub/software/TeX/</string>
					<string>https://ftp.eq.uc.pt/software/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.ist.utl.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ist.utl.pt/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>mirrors.up.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.up.pt/pub/CTAN/</string>
					<string>http://mirrors.up.pt/pub/CTAN/</string>
					<string>rsync://mirrors.up.pt/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>ctan.altspu.ru</string>
				<key>urls</key>
				<array>
					<string>http://ctan.altspu.ru/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirror.macomnet.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.macomnet.net/pub/CTAN/</string>
					<string>http://mirror.macomnet.net/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirrors.mi.ras.ru</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.mi.ras.ru/CTAN/</string>
					<string>http://mirrors.mi.ras.ru/CTAN/</string>
					<string>rsync://mirrors.mi.ras.ru/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Serbia</string>
				<key>name</key>
				<string>ctan.mirror.ftn.uns.ac.rs</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.ftn.uns.ac.rs/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Slovenia</string>
				<key>name</key>
				<string>ctan.ijs.si</string>
				<key>urls</key>
				<array>
					<string>http://ctan.ijs.si/tex-archive/</string>
					<string>rsync://ctan.ijs.si/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>osl.ugr.es</string>
				<key>urls</key>
				<array>
					<string>http://osl.ugr.es/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Sweden</string>
				<key>name</key>
				<string>ftp.acc.umu.se</string>
				<key>urls</key>
				<array>
					<string>http://ftp.acc.umu.se/mirror/CTAN/</string>
					<string>rsync://ftp.acc.umu.se/mirror/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>mirror.switch.ch</string>
				<key>urls</key>
				<array>
					<string>http://mirror.switch.ch/ftp/mirror/tex/</string>
					<string>ftp://mirror.switch.ch/mirror/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>pirbot.com</string>
				<key>urls</key>
				<array>
					<string>http://www.pirbot.com/mirrors/ctan/</string>
					<string>rsync://www.pirbot.com/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>ftp.cvut.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cvut.cz/tex-archive/</string>
					<string>http://ftp.cvut.cz/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>mirrors.nic.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.nic.cz/tex-archive/</string>
					<string>http://mirrors.nic.cz/pub/tex-archive/</string>
					<string>rsync://mirrors.nic.cz/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>cs.uu.nl</string>
				<key>urls</key>
				<array>
					<string>http://ctan.cs.uu.nl/</string>
					<string>ftp://archive.cs.uu.nl/mirror/CTAN/</string>
					<string>rsync://rsync.cs.uu.nl/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ctan.robertdegroot.nl</string>
				<key>urls</key>
				<array>
					<string>http://ctan.robertdegroot.nl/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ctan.triasinformatica.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.triasinformatica.nl/</string>
					<string>http://ctan.triasinformatica.nl/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ftp.snt.utwente.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.snt.utwente.nl/pub/software/tex/</string>
					<string>http://ftp.snt.utwente.nl/pub/software/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>anorien.csc.warwick.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://anorien.csc.warwick.ac.uk/CTAN/</string>
					<string>http://anorien.csc.warwick.ac.uk/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>mirror.ox.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ox.ac.uk/sites/ctan.org/</string>
					<string>http://mirror.ox.ac.uk/sites/ctan.org/</string>
				</array>
			</dict>
		</array>
		<key>North America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>colo-serv.net</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.colo-serv.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.forsale.plus</string>
				<key>urls</key>
				<array>
					<string>http://ctan.forsale.plus/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.math.ca</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.ca/tex-archive/</string>
					<string>ftp://ctan.math.ca/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.mirror.rafal.ca</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.rafal.ca/</string>
					<string>rsync://ctan.mirror.rafal.ca/CTAN/</string>
					<string>ftp://ctan.mirror.rafal.ca/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.its.dal.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.its.dal.ca/ctan/</string>
					<string>http://mirror.its.dal.ca/ctan/</string>
					<string>rsync://mirror.its.dal.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>muug.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.muug.ca/mirror/ctan/</string>
					<string>http://muug.ca/mirror/ctan/</string>
					<string>rsync://muug.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Costa Rica</string>
				<key>name</key>
				<string>mirrors.ucr.ac.cr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ucr.ac.cr/CTAN/</string>
					<string>http://mirrors.ucr.ac.cr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.utah.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.utah.edu/ctan/tex-archive/</string>
					<string>rsync://ctan.math.utah.edu/CTAN/</string>
					<string>rsync://tug.ctan.org/CTAN/</string>
					<string>ftp://tug.ctan.org/tex-archive/</string>
					<string>http://tug.ctan.org/tex-archive/</string>
					<string>ftp://ctan.math.utah.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.washington.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.washington.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.sharelatex.com</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.sharelatex.com/pub/tex-archive/</string>
					<string>http://ctan.sharelatex.com/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ftp.math.purdue.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.math.purdue.edu/mirrors/ctan.org/</string>
					<string>http://ftp.math.purdue.edu/mirrors/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ibiblio.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.ibiblio.org/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.hmc.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.hmc.edu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.jmu.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.jmu.edu/pub/CTAN/</string>
					<string>http://mirror.jmu.edu/pub/CTAN/</string>
					<string>rsync://mirror.jmu.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.concertpass.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.concertpass.com/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.hoobly.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirrors.hoobly.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.rit.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.rit.edu/CTAN/</string>
					<string>http://mirrors.rit.edu/CTAN/</string>
					<string>rsync://mirrors.rit.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.utexas.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.utexas.edu/pub/ctan/</string>
					<string>http://mirror.utexas.edu/ctan/</string>
					<string>rsync://mirror.utexas.edu/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Oceania</key>
		<array>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>name</key>
				<string>mirror.aarnet.edu.au</string>
				<key>urls</key>
				<array>
					<string>http://mirror.aarnet.edu.au/pub/CTAN/</string>
					<string>rsync://mirror.aarnet.edu.au/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>New Caledonia</string>
				<key>name</key>
				<string>mirror.lagoon.nc</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.lagoon.nc/ctan/</string>
					<string>rsync://mirror.lagoon.nc/ctan/</string>
					<string>http://mirror.lagoon.nc/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>New Zealand</string>
				<key>name</key>
				<string>mirror.aut.ac.nz</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.aut.ac.nz/CTAN/</string>
					<string>http://mirror.aut.ac.nz/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>South America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>linorg.usp.br</string>
				<key>urls</key>
				<array>
					<string>http://linorg.usp.br/CTAN/</string>
					<string>ftp://linorg.usp.br/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>repositorios.cpai.unb.br</string>
				<key>urls</key>
				<array>
					<string>http://repositorios.cpai.unb.br/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ctan.dcc.uchile.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.dcc.uchile.cl/pub/lang/ctan/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ftp.inf.utfsm.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.inf.utfsm.cl/pub/tex-archive/</string>
					<string>http://ftp.inf.utfsm.cl/pub/tex-archive/</string>
					<string>rsync://ftp.inf.utfsm.cl/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Colombia</string>
				<key>name</key>
				<string>ctan.uniminuto.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.uniminuto.edu/</string>
					<string>rsync://ctan.uniminuto.edu/</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>timestamp</key>
	<real>1507810554.75179</real>
</dict>
</plist>
