<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sites</key>
	<dict>
		<key>Africa</key>
		<array>
			<dict>
				<key>country</key>
				<string>Algeria</string>
				<key>name</key>
				<string>ctan.epst-tlemcen.dz</string>
				<key>urls</key>
				<array>
					<string>http://ctan.epst-tlemcen.dz/tex-archive/</string>
					<string>rsync://ctan.epst-tlemcen.dz/ctan/</string>
					<string>ftp://ctan.epst-tlemcen.dz/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Morocco</string>
				<key>name</key>
				<string>mirror.marwan.ma</string>
				<key>urls</key>
				<array>
					<string>http://mirror.marwan.ma/ctan/</string>
					<string>rsync://mirror.marwan.ma/ctan/</string>
					<string>https://mirror.marwan.ma/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.leg.uct.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>http://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>rsync://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.sun.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.sun.ac.za/CTAN/</string>
					<string>http://ftp.sun.ac.za/ftp/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>mirror.ufs.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ufs.ac.za/applications/ctan/</string>
					<string>http://mirror.ufs.ac.za/ctan/</string>
					<string>rsync://mirror.ufs.ac.za/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Asia</key>
		<array>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.bjtu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.bjtu.edu.cn/CTAN/</string>
					<string>rsync://mirror.bjtu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.lzu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.lzu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.cqu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.cqu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.geekpie.club</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.geekpie.club/CTAN/</string>
					<string>https://mirrors.geekpie.club/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.hit.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.hit.edu.cn/CTAN/</string>
					<string>https://mirrors.hit.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.huaweicloud.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.huaweicloud.com/repository/toolkit/CTAN/</string>
					<string>https://mirrors.huaweicloud.com/repository/toolkit/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.sjtug.sjtu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.sjtug.sjtu.edu.cn/ctan/</string>
					<string>https://mirrors.sjtug.sjtu.edu.cn/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.tuna.tsinghua.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
					<string>rsync://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.ustc.edu.cn</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ustc.edu.cn/CTAN/</string>
					<string>http://mirrors.ustc.edu.cn/CTAN/</string>
					<string>rsync://mirrors.ustc.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Hong Kong</string>
				<key>name</key>
				<string>mirror-hk.koddos.net</string>
				<key>urls</key>
				<array>
					<string>http://mirror-hk.koddos.net/CTAN/</string>
					<string>rsync://mirror-hk.koddos.net/CTAN/</string>
					<string>https://mirror-hk.koddos.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>ctan.imsc.res.in</string>
				<key>urls</key>
				<array>
					<string>http://ctan.imsc.res.in/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>mirror.iopb.res.in</string>
				<key>urls</key>
				<array>
					<string>http://mirror.iopb.res.in/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>mirror.unpad.ac.id</string>
				<key>urls</key>
				<array>
					<string>http://mirror.unpad.ac.id/ctan/</string>
					<string>https://mirror.unpad.ac.id/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.asis.ai</string>
				<key>urls</key>
				<array>
					<string>http://ctan.asis.ai/</string>
					<string>rsync://ctan.asis.ai/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.um.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://ctan.um.ac.ir/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.yazd.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://ctan.yazd.ac.ir/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.jaist.ac.jp</string>
				<key>urls</key>
				<array>
					<string>http://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>rsync://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>ftp://ftp.jaist.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.kddilabs.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kddilabs.jp/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.u-aizu.ac.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.u-aizu.ac.jp/pub/tex/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.yz.yamagata-u.ac.jp</string>
				<key>urls</key>
				<array>
					<string>http://ftp.yz.yamagata-u.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.harukasan.org</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.harukasan.org/CTAN/</string>
					<string>http://ftp.harukasan.org/CTAN/</string>
					<string>rsync://ftp.harukasan.org/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.kaist.ac.kr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kaist.ac.kr/tex-archive/</string>
					<string>rsync://ftp.kaist.ac.kr/ctan/</string>
					<string>http://ftp.kaist.ac.kr/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.ktug.org</string>
				<key>urls</key>
				<array>
					<string>http://ftp.ktug.org/tex-archive/</string>
					<string>ftp://ftp.ktug.org/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>mirror.navercorp.com</string>
				<key>urls</key>
				<array>
					<string>http://mirror.navercorp.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>mirror.yongbok.net</string>
				<key>urls</key>
				<array>
					<string>http://mirror.yongbok.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Philippines</string>
				<key>name</key>
				<string>mirror.pregi.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.pregi.net/tex-archive/</string>
					<string>http://mirror.pregi.net/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Saudi Arabia</string>
				<key>name</key>
				<string>latex.imamu.edu.sa</string>
				<key>urls</key>
				<array>
					<string>ftp://latex.imamu.edu.sa/</string>
					<string>http://latex.imamu.edu.sa/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Singapore</string>
				<key>name</key>
				<string>download.nus.edu.sg</string>
				<key>urls</key>
				<array>
					<string>http://download.nus.edu.sg/mirror/ctan/</string>
					<string>rsync://download.nus.edu.sg/mirror/ctan/</string>
					<string>https://download.nus.edu.sg/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.ccu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ccu.edu.tw/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.yzu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.yzu.edu.tw/CTAN/</string>
					<string>http://ftp.yzu.edu.tw/CTAN/</string>
					<string>rsync://ftp.yzu.edu.tw/pub/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Europe</key>
		<array>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>cyber-perikarp.eu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.reismil.ch/CTAN/</string>
					<string>https://mirror.cyber-perikarp.eu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>mirror.easyname.at</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.easyname.at/ctan/</string>
					<string>rsync://mirror.easyname.at/ctan/</string>
					<string>http://mirror.easyname.at/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>mirror.kumi.systems</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.kumi.systems/ctan/</string>
					<string>http://mirror.kumi.systems/ctan/</string>
					<string>rsync://mirror.kumi.systems/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Belarus</string>
				<key>name</key>
				<string>mirror.datacenter.by</string>
				<key>urls</key>
				<array>
					<string>http://mirror.datacenter.by/pub/mirrors/CTAN/</string>
					<string>rsync://mirror.datacenter.by/CTAN/</string>
					<string>ftp://mirror.datacenter.by/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Denmark</string>
				<key>name</key>
				<string>mirrors.dotsrc.org</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.dotsrc.org/ctan/</string>
					<string>http://mirrors.dotsrc.org/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>ftp.funet.fi</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.funet.fi/pub/TeX/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>texlive.info</string>
				<key>urls</key>
				<array>
					<string>rsync://texlive.info/CTAN/</string>
					<string>https://www.texlive.info/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.crest.fr</string>
				<key>urls</key>
				<array>
					<string>http://ctan.crest.fr/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mc1.root.project-creative.net</string>
				<key>urls</key>
				<array>
					<string>https://ctan.mc1.root.project-creative.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mc2.root.project-creative.net</string>
				<key>urls</key>
				<array>
					<string>https://ctan.mc2.root.project-creative.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mines-albi.fr</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mines-albi.fr/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.tetaneutral.net</string>
				<key>urls</key>
				<array>
					<string>http://ctan.tetaneutral.net/</string>
					<string>rsync://ctan.tetaneutral.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>distrib-coffee.ipsl.jussieu.fr</string>
				<key>urls</key>
				<array>
					<string>http://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>ftp://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>rsync://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirror.ibcp.fr</string>
				<key>urls</key>
				<array>
					<string>http://mirror.ibcp.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.chevalier.io</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.chevalier.io/CTAN/</string>
					<string>https://mirrors.chevalier.io/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.ircam.fr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ircam.fr/pub/CTAN/</string>
					<string>http://mirrors.ircam.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>standaloneinstaller.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.standaloneinstaller.com/ctan/</string>
					<string>rsync://mirrors.standaloneinstaller.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.ebinger.cc</string>
				<key>urls</key>
				<array>
					<string>http://ctan.ebinger.cc/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.kako-dev.de</string>
				<key>urls</key>
				<array>
					<string>http://ctan.kako-dev.de/</string>
					<string>https://ctan.kako-dev.de/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.mirror.norbert-ruehl.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.mirror.norbert-ruehl.de/</string>
					<string>http://ctan.mirror.norbert-ruehl.de/</string>
					<string>https://ctan.mirror.norbert-ruehl.de/</string>
					<string>rsync://ctan.mirror.norbert-ruehl.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.net</string>
				<key>urls</key>
				<array>
					<string>https://ctan.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.space-pro.be</string>
				<key>urls</key>
				<array>
					<string>http://ctan.space-pro.be/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.agdsn.de</string>
				<key>urls</key>
				<array>
					<string>http://ftp.agdsn.de/pub/mirrors/latex/dante/</string>
					<string>rsync://ftp.agdsn.de/pub/mirrors/latex/dante/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fau.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fau.de/ctan/</string>
					<string>http://ftp.fau.de/ctan/</string>
					<string>rsync://ftp.fau.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fu-berlin.de/tex/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.gwdg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gwdg.de/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.mpi-sb.mpg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.mpi-sb.mpg.de/pub/tex/mirror/ftp.dante.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrze.uni-erlangen.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrze.uni-erlangen.de/ctan/</string>
					<string>http://ftp.rrze.uni-erlangen.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrzn.uni-hannover.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.tu-chemnitz.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.tu-chemnitz.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.informatik.hs-fulda.de</string>
				<key>urls</key>
				<array>
					<string>http://mirror.informatik.hs-fulda.de/tex-archive/</string>
					<string>rsync://mirror.informatik.hs-fulda.de/CTAN/</string>
					<string>https://mirror.informatik.hs-fulda.de/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.physik-pool.tu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.physik-pool.tu-berlin.de/tex-archive/</string>
					<string>http://mirror.physik-pool.tu-berlin.de/tex-archive/</string>
					<string>rsync://mirror.physik-pool.tu-berlin.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>packages.oth-regensburg.de</string>
				<key>urls</key>
				<array>
					<string>http://packages.oth-regensburg.de/ctan/</string>
					<string>rsync://packages.oth-regensburg.de/ctan/</string>
					<string>https://packages.oth-regensburg.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>sunsite.informatik.rwth-aachen.de</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.informatik.rwth-aachen.de/pub/mirror/ctan/</string>
					<string>http://vesta.informatik.rwth-aachen.de/ftp/pub/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.cc.uoc.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cc.uoc.gr/mirrors/CTAN/</string>
					<string>http://ftp.cc.uoc.gr/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.ntua.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ntua.gr/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Hungary</string>
				<key>name</key>
				<string>mirror.szerverem.hu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.szerverem.hu/ctan/</string>
					<string>rsync://mirror.szerverem.hu/ctan/</string>
					<string>https://mirror.szerverem.hu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Ireland</string>
				<key>name</key>
				<string>ftp.heanet.ie</string>
				<key>urls</key>
				<array>
					<string>http://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
					<string>rsync://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
					<string>ftp://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Italy</string>
				<key>name</key>
				<string>ctan.mirror.garr.it</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.garr.it/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ctan.uib.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.uib.no/pub/CTAN/</string>
					<string>http://ctan.uib.no/</string>
					<string>rsync://ctan.uib.no/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>ftp.gust.org.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gust.org.pl/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>piotrkosoft.net</string>
				<key>urls</key>
				<array>
					<string>http://piotrkosoft.net/pub/mirrors/CTAN/</string>
					<string>rsync://ftp.piotrkosoft.net/mirrors/CTAN/</string>
					<string>ftp://ftp.piotrkosoft.net/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>sunsite.icm.edu.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.icm.edu.pl/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.di.uminho.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.di.uminho.pt/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.eq.uc.pt</string>
				<key>urls</key>
				<array>
					<string>http://ftp.eq.uc.pt/software/TeX/</string>
					<string>ftp://ftp.eq.uc.pt/pub/software/TeX/</string>
					<string>https://ftp.eq.uc.pt/software/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>mirrors.up.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.up.pt/pub/CTAN/</string>
					<string>http://mirrors.up.pt/pub/CTAN/</string>
					<string>rsync://mirrors.up.pt/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Romania</string>
				<key>name</key>
				<string>mirrors.nxthost.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.nxthost.com/ctan/</string>
					<string>rsync://mirrors.nxthost.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>ctan.altspu.ru</string>
				<key>urls</key>
				<array>
					<string>http://ctan.altspu.ru/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirror.macomnet.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.macomnet.net/pub/CTAN/</string>
					<string>http://mirror.macomnet.net/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirrors.mi.ras.ru</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.mi.ras.ru/CTAN/</string>
					<string>http://mirrors.mi.ras.ru/CTAN/</string>
					<string>rsync://mirrors.mi.ras.ru/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Serbia</string>
				<key>name</key>
				<string>ctan.mirror.ftn.uns.ac.rs</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.ftn.uns.ac.rs/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Slovenia</string>
				<key>name</key>
				<string>ctan.ijs.si</string>
				<key>urls</key>
				<array>
					<string>http://ctan.ijs.si/tex-archive/</string>
					<string>rsync://ctan.ijs.si/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>osl.ugr.es</string>
				<key>urls</key>
				<array>
					<string>http://osl.ugr.es/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Sweden</string>
				<key>name</key>
				<string>ftp.acc.umu.se</string>
				<key>urls</key>
				<array>
					<string>http://ftp.acc.umu.se/mirror/CTAN/</string>
					<string>rsync://ftp.acc.umu.se/mirror/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>pirbot.com</string>
				<key>urls</key>
				<array>
					<string>http://www.pirbot.com/mirrors/ctan/</string>
					<string>rsync://www.pirbot.com/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>ftp.cvut.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cvut.cz/tex-archive/</string>
					<string>http://ftp.cvut.cz/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>mirrors.nic.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.nic.cz/tex-archive/</string>
					<string>http://mirrors.nic.cz/pub/tex-archive/</string>
					<string>rsync://mirrors.nic.cz/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>cs.uu.nl</string>
				<key>urls</key>
				<array>
					<string>http://ctan.cs.uu.nl/</string>
					<string>ftp://archive.cs.uu.nl/mirror/CTAN/</string>
					<string>rsync://rsync.cs.uu.nl/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ctan.triasinformatica.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.triasinformatica.nl/</string>
					<string>http://ctan.triasinformatica.nl/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ftp.snt.utwente.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.snt.utwente.nl/pub/software/tex/</string>
					<string>http://ftp.snt.utwente.nl/pub/software/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>mirror.koddos.net</string>
				<key>urls</key>
				<array>
					<string>http://mirror.koddos.net/CTAN/</string>
					<string>rsync://mirror.koddos.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>anorien.csc.warwick.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://anorien.csc.warwick.ac.uk/CTAN/</string>
					<string>http://anorien.csc.warwick.ac.uk/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>mirror.ox.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ox.ac.uk/sites/ctan.org/</string>
					<string>http://mirror.ox.ac.uk/sites/ctan.org/</string>
				</array>
			</dict>
		</array>
		<key>North America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>colo-serv.net</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.colo-serv.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.forsale.plus</string>
				<key>urls</key>
				<array>
					<string>http://ctan.forsale.plus/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.math.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.math.ca/tex-archive/</string>
					<string>http://ctan.math.ca/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.mirror.rafal.ca</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.rafal.ca/</string>
					<string>rsync://ctan.mirror.rafal.ca/CTAN/</string>
					<string>ftp://ctan.mirror.rafal.ca/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.its.dal.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.its.dal.ca/ctan/</string>
					<string>http://mirror.its.dal.ca/ctan/</string>
					<string>rsync://mirror.its.dal.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>muug.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.muug.ca/mirror/ctan/</string>
					<string>http://muug.ca/mirror/ctan/</string>
					<string>rsync://muug.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Costa Rica</string>
				<key>name</key>
				<string>mirrors.ucr.ac.cr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ucr.ac.cr/CTAN/</string>
					<string>http://mirrors.ucr.ac.cr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.illinois.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.illinois.edu/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.utah.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.utah.edu/ctan/tex-archive/</string>
					<string>rsync://ctan.math.utah.edu/CTAN/</string>
					<string>rsync://tug.ctan.org/CTAN/</string>
					<string>ftp://tug.ctan.org/tex-archive/</string>
					<string>http://tug.ctan.org/tex-archive/</string>
					<string>ftp://ctan.math.utah.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.washington.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.washington.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ftp.math.purdue.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.math.purdue.edu/mirrors/ctan.org/</string>
					<string>http://ftp.math.purdue.edu/mirrors/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ibiblio.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.ibiblio.org/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.las.iastate.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.las.iastate.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.concertpass.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.concertpass.com/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.hoobly.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirrors.hoobly.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.rit.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.rit.edu/CTAN/</string>
					<string>http://mirrors.rit.edu/CTAN/</string>
					<string>rsync://mirrors.rit.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.utexas.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.utexas.edu/pub/ctan/</string>
					<string>http://mirror.utexas.edu/ctan/</string>
					<string>rsync://mirror.utexas.edu/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Oceania</key>
		<array>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>name</key>
				<string>mirror.aarnet.edu.au</string>
				<key>urls</key>
				<array>
					<string>http://mirror.aarnet.edu.au/pub/CTAN/</string>
					<string>rsync://mirror.aarnet.edu.au/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>New Caledonia</string>
				<key>name</key>
				<string>mirror.lagoon.nc</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.lagoon.nc/ctan/</string>
					<string>rsync://mirror.lagoon.nc/ctan/</string>
					<string>http://mirror.lagoon.nc/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>New Zealand</string>
				<key>name</key>
				<string>mirror.aut.ac.nz</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.aut.ac.nz/CTAN/</string>
					<string>http://mirror.aut.ac.nz/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>South America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>linorg.usp.br</string>
				<key>urls</key>
				<array>
					<string>ftp://linorg.usp.br/CTAN/</string>
					<string>http://linorg.usp.br/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ctan.dcc.uchile.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.dcc.uchile.cl/pub/lang/ctan/tex-archive/</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>timestamp</key>
	<real>1577122925.346774</real>
</dict>
</plist>
