<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sites</key>
	<dict>
		<key>Africa</key>
		<array>
			<dict>
				<key>country</key>
				<string>Morocco</string>
				<key>name</key>
				<string>mirror.marwan.ma</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.marwan.ma/ctan/</string>
					<string>https://mirror.marwan.ma/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>mirror.ufs.ac.za</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.ufs.ac.za/CTAN/</string>
					<string>https://mirror.ufs.ac.za/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>za.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://za.mirrors.cicku.me/ctan/</string>
					<string>https://za.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
		</array>
		<key>Asia</key>
		<array>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.aliyun.com</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.aliyun.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.bfsu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>rsync://mirrors.bfsu.edu.cn/CTAN/</string>
					<string>https://mirrors.bfsu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.cloud.tencent.com</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.cloud.tencent.com/CTAN/</string>
					<string>https://mirrors.cloud.tencent.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.cqu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.cqu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.hit.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.hit.edu.cn/CTAN/</string>
					<string>https://mirrors.hit.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.hust.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.hust.edu.cn/CTAN/</string>
					<string>https://mirrors.hust.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.jlu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.jlu.edu.cn/CTAN/</string>
					<string>http://mirrors.jlu.edu.cn/CTAN/</string>
					<string>rsync://mirrors.jlu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.nju.edu.cn</string>
				<key>urls</key>
				<array>
					<string>rsync://mirrors.nju.edu.cn/CTAN/</string>
					<string>https://mirrors.nju.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.pku.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.pku.edu.cn/ctan/</string>
					<string>https://mirrors.pku.edu.cn/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.qlu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.qlu.edu.cn/CTAN/</string>
					<string>rsync://mirrors.qlu.edu.cn/CTAN/</string>
					<string>https://mirrors.qlu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.sjtug.sjtu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.sjtug.sjtu.edu.cn/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.sustech.edu.cn</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.sustech.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.tuna.tsinghua.edu.cn</string>
				<key>urls</key>
				<array>
					<string>rsync://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
					<string>https://mirrors.tuna.tsinghua.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.ustc.edu.cn</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.ustc.edu.cn/CTAN/</string>
					<string>rsync://rsync.mirrors.ustc.edu.cn/CTAN/</string>
					<string>http://mirrors.ustc.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Hong Kong</string>
				<key>name</key>
				<string>mirror-hk.koddos.net</string>
				<key>urls</key>
				<array>
					<string>https://mirror-hk.koddos.net/CTAN/</string>
					<string>rsync://mirror-hk.koddos.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>2.mirrors.in.sahilister.net</string>
				<key>urls</key>
				<array>
					<string>http://2.mirrors.in.sahilister.net/ctan/</string>
					<string>https://2.mirrors.in.sahilister.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>3.mirrors.in.sahilister.net</string>
				<key>urls</key>
				<array>
					<string>http://3.mirrors.in.sahilister.net/ctan/</string>
					<string>https://3.mirrors.in.sahilister.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>in.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://in.mirrors.cicku.me/ctan/</string>
					<string>https://in.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>mirror.niser.ac.in</string>
				<key>urls</key>
				<array>
					<string>https://mirror.niser.ac.in/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>mirrors.sukhala.in</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.sukhala.in/ctan/</string>
					<string>https://mirrors.sukhala.in/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>mirror.unpad.ac.id</string>
				<key>urls</key>
				<array>
					<string>https://mirror.unpad.ac.id/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ctan.tikz.jp</string>
				<key>urls</key>
				<array>
					<string>http://ctan.tikz.jp/</string>
					<string>https://ctan.tikz.jp/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.jaist.ac.jp</string>
				<key>urls</key>
				<array>
					<string>rsync://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>http://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>ftp://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>https://ftp.jaist.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.yz.yamagata-u.ac.jp</string>
				<key>urls</key>
				<array>
					<string>https://ftp.yz.yamagata-u.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>jp.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://jp.mirrors.cicku.me/ctan/</string>
					<string>https://jp.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>mirror.aria-on-the-planet.es</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.aria-on-the-planet.es/CTAN/</string>
					<string>https://mirror.aria-on-the-planet.es/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>mirror.kris.fail</string>
				<key>urls</key>
				<array>
					<string>http://mirror.kris.fail/ctan/</string>
					<string>https://mirror.kris.fail/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.kaist.ac.kr</string>
				<key>urls</key>
				<array>
					<string>https://ftp.kaist.ac.kr/ctan/</string>
					<string>http://ftp.kaist.ac.kr/ctan/</string>
					<string>rsync://ftp.kaist.ac.kr/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>kr.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://kr.mirrors.cicku.me/ctan/</string>
					<string>https://kr.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>mirror.kakao.com</string>
				<key>urls</key>
				<array>
					<string>http://mirror.kakao.com/CTAN/</string>
					<string>https://mirror.kakao.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Saudi Arabia</string>
				<key>name</key>
				<string>sa.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://sa.mirrors.cicku.me/ctan/</string>
					<string>https://sa.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Singapore</string>
				<key>name</key>
				<string>sg.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://sg.mirrors.cicku.me/ctan/</string>
					<string>https://sg.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ctan.mirror.twds.com.tw</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.twds.com.tw/tex-archive/</string>
					<string>https://ctan.mirror.twds.com.tw/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>tw.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://tw.mirrors.cicku.me/ctan/</string>
					<string>https://tw.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Thailand</string>
				<key>name</key>
				<string>mirror.kku.ac.th</string>
				<key>urls</key>
				<array>
					<string>http://mirror.kku.ac.th/CTAN/</string>
					<string>https://mirror.kku.ac.th/CTAN/</string>
					<string>rsync://mirror.kku.ac.th/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>Europe</key>
		<array>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>at.ctan.niranjan.co</string>
				<key>urls</key>
				<array>
					<string>https://at.ctan.niranjan.co/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>mirror.easyname.at</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.easyname.at/ctan/</string>
					<string>rsync://mirror.easyname.at/ctan/</string>
					<string>https://mirror.easyname.at/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>mirror.kumi.systems</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.kumi.systems/ctan/</string>
					<string>rsync://mirror.kumi.systems/ctan/</string>
					<string>https://mirror.kumi.systems/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Belarus</string>
				<key>name</key>
				<string>mirror.datacenter.by</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.datacenter.by/CTAN/</string>
					<string>ftp://mirror.datacenter.by/pub/mirrors/CTAN/</string>
					<string>https://mirror.datacenter.by/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Bulgaria</string>
				<key>name</key>
				<string>ftp.uni-sofia.bg</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.uni-sofia.bg/CTAN/</string>
					<string>https://ftp.uni-sofia.bg/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Bulgaria</string>
				<key>name</key>
				<string>mirrors.neterra.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.neterra.net/CTAN/</string>
					<string>rsync://mirrors.neterra.net/CTAN/</string>
					<string>https://mirrors.neterra.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Bulgaria</string>
				<key>name</key>
				<string>mirrors.netix.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.netix.net/CTAN/</string>
					<string>rsync://mirrors.netix.net/CTAN/</string>
					<string>https://mirrors.netix.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Denmark</string>
				<key>name</key>
				<string>mirrors.dotsrc.org</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.dotsrc.org/ctan/</string>
					<string>https://mirrors.dotsrc.org/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>funet.fi</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.funet.fi/pub/TeX/CTAN/</string>
					<string>https://www.nic.funet.fi/pub/TeX/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>mirror.5i.fi</string>
				<key>urls</key>
				<array>
					<string>https://mirror.5i.fi/tex-archive/</string>
					<string>http://mirror.5i.fi/tex-archive/</string>
					<string>rsync://mirror.5i.fi/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>mirror.cherryfox.dev</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.mirror.cherryfox.dev/</string>
					<string>rsync://ctan.mirror.cherryfox.dev/CTAN/</string>
					<string>https://ctan.mirror.cherryfox.dev/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>texlive.info</string>
				<key>urls</key>
				<array>
					<string>rsync://texlive.info/CTAN/</string>
					<string>https://www.texlive.info/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.ceremade.dauphine.fr</string>
				<key>urls</key>
				<array>
					<string>https://ctan.ceremade.dauphine.fr/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mines-albi.fr</string>
				<key>urls</key>
				<array>
					<string>https://ctan.mines-albi.fr/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.tetaneutral.net</string>
				<key>urls</key>
				<array>
					<string>rsync://ctan.tetaneutral.net/ctan/</string>
					<string>https://ctan.tetaneutral.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>distrib-coffee.ipsl.jussieu.fr</string>
				<key>urls</key>
				<array>
					<string>ftp://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>rsync://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>https://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirror.ibcp.fr</string>
				<key>urls</key>
				<array>
					<string>https://mirror.ibcp.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.ircam.fr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ircam.fr/pub/CTAN/</string>
					<string>https://mirrors.ircam.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>texlive.mycozy.space</string>
				<key>urls</key>
				<array>
					<string>https://texlive.mycozy.space/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.ebinger.cc</string>
				<key>urls</key>
				<array>
					<string>https://ctan.ebinger.cc/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.joethei.xyz</string>
				<key>urls</key>
				<array>
					<string>https://ctan.joethei.xyz/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.mirror.norbert-ruehl.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.mirror.norbert-ruehl.de/</string>
					<string>https://ctan.mirror.norbert-ruehl.de/</string>
					<string>rsync://ctan.mirror.norbert-ruehl.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.net</string>
				<key>urls</key>
				<array>
					<string>https://ctan.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ctan.project-creative.net</string>
				<key>urls</key>
				<array>
					<string>https://ctan.project-creative.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>de.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://de.mirrors.cicku.me/ctan/</string>
					<string>https://de.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.agdsn.de</string>
				<key>urls</key>
				<array>
					<string>rsync://ftp.agdsn.de/pub/mirrors/latex/dante/</string>
					<string>https://ftp.agdsn.de/pub/mirrors/latex/dante/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fau.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fau.de/ctan/</string>
					<string>https://ftp.fau.de/ctan/</string>
					<string>rsync://ftp.fau.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fu-berlin.de/tex/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.gwdg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gwdg.de/pub/ctan/</string>
					<string>https://ftp.gwdg.de/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.mpi-sb.mpg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.mpi-sb.mpg.de/pub/tex/mirror/ftp.dante.de/pub/tex/</string>
					<string>https://ftp.mpi-inf.mpg.de/pub/tex/mirror/ftp.dante.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrze.uni-erlangen.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrze.uni-erlangen.de/ctan/</string>
					<string>https://ftp.rrze.uni-erlangen.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrzn.uni-hannover.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
					<string>http://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
					<string>https://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.tu-chemnitz.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.tu-chemnitz.de/pub/tex/</string>
					<string>https://ftp.tu-chemnitz.de/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>markov.htwsaar.de</string>
				<key>urls</key>
				<array>
					<string>https://markov.htwsaar.de/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.clientvps.com</string>
				<key>urls</key>
				<array>
					<string>https://mirror.clientvps.com/CTAN/</string>
					<string>ftp://mirror.clientvps.com/CTAN/</string>
					<string>rsync://mirror.clientvps.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.dogado.de</string>
				<key>urls</key>
				<array>
					<string>https://mirror.dogado.de/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.funkfreundelandshut.de</string>
				<key>urls</key>
				<array>
					<string>https://mirror.funkfreundelandshut.de/latex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.physik.tu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.physik-pool.tu-berlin.de/pub/CTAN/</string>
					<string>rsync://mirror.physik-pool.tu-berlin.de/ctan/</string>
					<string>http://mirror.physik-pool.tu-berlin.de/pub/CTAN/</string>
					<string>https://mirror.physik.tu-berlin.de/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.rabisu.com</string>
				<key>urls</key>
				<array>
					<string>http://mirror.rabisu.com/mirrors/CTAN/</string>
					<string>rsync://mirror.rabisu.com/mirrors/CTAN/</string>
					<string>https://mirror.rabisu.com/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>sunsite.informatik.rwth-aachen.de</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.informatik.rwth-aachen.de/pub/mirror/ctan/</string>
					<string>http://vesta.informatik.rwth-aachen.de/ftp/pub/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>fosszone.csd.auth.gr</string>
				<key>urls</key>
				<array>
					<string>http://fosszone.csd.auth.gr/CTAN/</string>
					<string>https://fosszone.csd.auth.gr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.cc.uoc.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cc.uoc.gr/mirrors/CTAN/</string>
					<string>https://ftp.cc.uoc.gr/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Italy</string>
				<key>name</key>
				<string>ctan.mirror.garr.it</string>
				<key>urls</key>
				<array>
					<string>https://ctan.mirror.garr.it/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ctan.uib.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.uib.no/pub/CTAN/</string>
					<string>rsync://ctan.uib.no/ctan/</string>
					<string>https://ctan.uib.no/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ftp.fagskolen.gjovik.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fagskolen.gjovik.no/pub/tex-archive/</string>
					<string>http://ftp.fagskolen.gjovik.no/pub/tex-archive/</string>
					<string>https://ftp.fagskolen.gjovik.no/pub/tex-archive/</string>
					<string>rsync://ftp.fagskolen.gjovik.no/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>ctan.gust.org.pl</string>
				<key>urls</key>
				<array>
					<string>https://ctan.gust.org.pl/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>polish-mirror.evolution-host.com</string>
				<key>urls</key>
				<array>
					<string>https://polish-mirror.evolution-host.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>sunsite.icm.edu.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.icm.edu.pl/pub/CTAN/</string>
					<string>https://sunsite.icm.edu.pl/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.eq.uc.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.eq.uc.pt/pub/software/TeX/</string>
					<string>https://ftp.eq.uc.pt/software/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>mirrors.up.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.up.pt/pub/CTAN/</string>
					<string>https://mirrors.up.pt/pub/CTAN/</string>
					<string>rsync://mirrors.up.pt/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Romania</string>
				<key>name</key>
				<string>mirrors.nxthost.com</string>
				<key>urls</key>
				<array>
					<string>rsync://mirrors.nxthost.com/ctan/</string>
					<string>https://mirrors.nxthost.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirror.macomnet.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.macomnet.net/pub/CTAN/</string>
					<string>https://mirror.macomnet.net/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirror.truenetwork.ru</string>
				<key>urls</key>
				<array>
					<string>https://mirror.truenetwork.ru/CTAN/</string>
					<string>ftp://mirror.truenetwork.ru/CTAN/</string>
					<string>rsync://mirror.truenetwork.ru/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>ctan.fisiquimicamente.com</string>
				<key>urls</key>
				<array>
					<string>https://ctan.fisiquimicamente.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>ctan.javinator9889.com</string>
				<key>urls</key>
				<array>
					<string>https://ctan.javinator9889.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>softlibre.unizar.es</string>
				<key>urls</key>
				<array>
					<string>http://softlibre.unizar.es/tex-archive/</string>
					<string>https://softlibre.unizar.es/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Sweden</string>
				<key>name</key>
				<string>ftpmirror1.infania.net</string>
				<key>urls</key>
				<array>
					<string>https://ftpmirror1.infania.net/mirror/CTAN/</string>
					<string>ftp://ftpmirror1.infania.net/mirror/CTAN/</string>
					<string>rsync://ftpmirror1.infania.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Sweden</string>
				<key>name</key>
				<string>mirror.accum.se</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.accum.se/mirror/CTAN/</string>
					<string>https://mirror.accum.se/mirror/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Sweden</string>
				<key>name</key>
				<string>mirror.bahnhof.net</string>
				<key>urls</key>
				<array>
					<string>https://mirror.bahnhof.net/pub/ctan/</string>
					<string>http://mirror.bahnhof.net/pub/ctan/</string>
					<string>ftp://mirror.bahnhof.net/pub/ctan/</string>
					<string>rsync://mirror.bahnhof.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>ch.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://ch.mirrors.cicku.me/ctan/</string>
					<string>https://ch.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>mirror.foobar.to</string>
				<key>urls</key>
				<array>
					<string>https://mirror.foobar.to/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>mirror.init7.net</string>
				<key>urls</key>
				<array>
					<string>https://mirror.init7.net/ctan/</string>
					<string>http://mirror.init7.net/ctan/</string>
					<string>rsync://mirror.init7.net/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ftp.snt.utwente.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.snt.utwente.nl/pub/software/tex/</string>
					<string>https://ftp.snt.utwente.nl/pub/software/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>mirror.koddos.net</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.koddos.net/CTAN/</string>
					<string>https://mirror.koddos.net/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>mirror.lyrahosting.com</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.lyrahosting.com/CTAN/</string>
					<string>https://mirror.lyrahosting.com/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>nl.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://nl.mirrors.cicku.me/ctan/</string>
					<string>https://nl.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>United Kingdom</string>
				<key>name</key>
				<string>gb.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://gb.mirrors.cicku.me/ctan/</string>
					<string>https://gb.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>United Kingdom</string>
				<key>name</key>
				<string>mirror.apps.cam.ac.uk</string>
				<key>urls</key>
				<array>
					<string>https://mirror.apps.cam.ac.uk/pub/tex-archive/</string>
					<string>http://mirror.apps.cam.ac.uk/pub/tex-archive/</string>
					<string>ftp://mirror.apps.cam.ac.uk/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>United Kingdom</string>
				<key>name</key>
				<string>mirror.ox.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ox.ac.uk/sites/ctan.org/</string>
					<string>http://mirror.ox.ac.uk/sites/ctan.org/</string>
					<string>https://mirror.ox.ac.uk/sites/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>United Kingdom</string>
				<key>name</key>
				<string>tex.org.uk</string>
				<key>urls</key>
				<array>
					<string>http://tex.org.uk/</string>
					<string>https://tex.org.uk/</string>
				</array>
			</dict>
		</array>
		<key>North America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ca.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://ca.mirrors.cicku.me/ctan/</string>
					<string>https://ca.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.mirror.globo.tech</string>
				<key>urls</key>
				<array>
					<string>https://ctan.mirror.globo.tech/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.mirror.rafal.ca</string>
				<key>urls</key>
				<array>
					<string>rsync://ctan.mirror.rafal.ca/CTAN/</string>
					<string>ftp://ctan.mirror.rafal.ca/pub/CTAN/</string>
					<string>http://ctan.mirror.rafal.ca/</string>
					<string>https://ctan.mirror.rafal.ca/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.csclub.uwaterloo.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.csclub.uwaterloo.ca/CTAN/</string>
					<string>http://mirror.csclub.uwaterloo.ca/CTAN/</string>
					<string>rsync://mirror.csclub.uwaterloo.ca/CTAN/</string>
					<string>https://mirror.csclub.uwaterloo.ca/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.its.dal.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.its.dal.ca/ctan/</string>
					<string>rsync://mirror.its.dal.ca/ctan/</string>
					<string>https://mirror.its.dal.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.quantum5.ca</string>
				<key>urls</key>
				<array>
					<string>rsync://mirror.quantum5.ca/CTAN/</string>
					<string>https://mirror.quantum5.ca/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>muug.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.muug.ca/mirror/ctan/</string>
					<string>rsync://muug.ca/ctan/</string>
					<string>https://muug.ca/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Costa Rica</string>
				<key>name</key>
				<string>mirrors.ucr.ac.cr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ucr.ac.cr/CTAN/</string>
					<string>https://mirrors.ucr.ac.cr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.illinois.edu</string>
				<key>urls</key>
				<array>
					<string>https://ctan.math.illinois.edu/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.utah.edu</string>
				<key>urls</key>
				<array>
					<string>http://ctan.math.utah.edu/ctan/tex-archive/</string>
					<string>rsync://ctan.math.utah.edu/CTAN/</string>
					<string>ftp://ctan.math.utah.edu/tex-archive/</string>
					<string>https://ctan.math.utah.edu/ctan/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.washington.edu</string>
				<key>urls</key>
				<array>
					<string>https://ctan.math.washington.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ibiblio.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.ibiblio.org/pub/mirrors/CTAN/</string>
					<string>https://mirrors.ibiblio.org/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>latex.us</string>
				<key>urls</key>
				<array>
					<string>http://latex.us/</string>
					<string>https://latex.us/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.clarkson.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.clarkson.edu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.math.princeton.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.math.princeton.edu/pub/CTAN/</string>
					<string>https://mirror.math.princeton.edu/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.hoobly.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirrors.hoobly.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.mit.edu</string>
				<key>urls</key>
				<array>
					<string>https://mirrors.mit.edu/CTAN/</string>
					<string>http://mirrors.mit.edu/CTAN/</string>
					<string>rsync://mirrors.mit.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.rit.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.rit.edu/CTAN/</string>
					<string>rsync://mirrors.rit.edu/CTAN/</string>
					<string>https://mirrors.rit.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>tug.ctan.org</string>
				<key>urls</key>
				<array>
					<string>rsync://tug.ctan.org/CTAN/</string>
					<string>ftp://tug.ctan.org/tex-archive/</string>
					<string>http://tug.ctan.org/</string>
					<string>https://tug.ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>us.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://us.mirrors.cicku.me/ctan/</string>
					<string>https://us.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
		</array>
		<key>Oceania</key>
		<array>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>name</key>
				<string>au.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://au.mirrors.cicku.me/ctan/</string>
					<string>https://au.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>name</key>
				<string>mirror.aarnet.edu.au</string>
				<key>urls</key>
				<array>
					<string>https://mirror.aarnet.edu.au/pub/CTAN/</string>
					<string>rsync://mirror.aarnet.edu.au/pub/CTAN/</string>
				</array>
			</dict>
		</array>
		<key>South America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>br.mirrors.cicku.me</string>
				<key>urls</key>
				<array>
					<string>http://br.mirrors.cicku.me/ctan/</string>
					<string>https://br.mirrors.cicku.me/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ctan.dcc.uchile.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.dcc.uchile.cl/pub/lang/ctan/tex-archive/</string>
					<string>https://ctan.dcc.uchile.cl/</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>timestamp</key>
	<real>1771948068.960933</real>
</dict>
</plist>
