<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>HelpBook</string>
	<key>CFBundleHelpBookName</key>
	<string>TeX Live Utility Help</string>
	<key>CFBundleIconFile</key>
	<string>TeXDistTool</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.mactlmgr.tlu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.37b11</string>
	<key>CFBundleSignature</key>
	<string>TLUm</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>Mirror URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
				<string>http</string>
				<string>ftp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.37b11</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2008-2020, Adam R. Maxwell.
All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/amaxwell/tlutility/master/appcast/tlu_appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeX Distribution Bridge</string>
			<key>UTTypeIconFile</key>
			<string>TeXDistDocument</string>
			<key>UTTypeIdentifier</key>
			<string>comp.text.tex.distribution.bridge</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>texdist</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
