<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collections</key>
	<array>
		<dict>
			<key>key</key>
			<string>collection-basic</string>
			<key>name</key>
			<string>basic</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-bibtexextra</string>
			<key>name</key>
			<string>bibtexextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-binextra</string>
			<key>name</key>
			<string>binextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-context</string>
			<key>name</key>
			<string>context</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-fontsextra</string>
			<key>name</key>
			<string>fontsextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-fontsrecommended</string>
			<key>name</key>
			<string>fontsrecommended</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-fontutils</string>
			<key>name</key>
			<string>fontutils</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-formatsextra</string>
			<key>name</key>
			<string>formatsextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-games</string>
			<key>name</key>
			<string>games</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-genericextra</string>
			<key>name</key>
			<string>genericextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-genericrecommended</string>
			<key>name</key>
			<string>genericrecommended</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-htmlxml</string>
			<key>name</key>
			<string>htmlxml</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-humanities</string>
			<key>name</key>
			<string>humanities</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-latex</string>
			<key>name</key>
			<string>latex</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-latex3</string>
			<key>name</key>
			<string>latex3</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-latexextra</string>
			<key>name</key>
			<string>latexextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-latexrecommended</string>
			<key>name</key>
			<string>latexrecommended</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-luatex</string>
			<key>name</key>
			<string>luatex</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-mathextra</string>
			<key>name</key>
			<string>mathextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-metapost</string>
			<key>name</key>
			<string>metapost</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-music</string>
			<key>name</key>
			<string>music</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-omega</string>
			<key>name</key>
			<string>omega</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-pictures</string>
			<key>name</key>
			<string>pictures</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-plainextra</string>
			<key>name</key>
			<string>plainextra</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-pstricks</string>
			<key>name</key>
			<string>pstricks</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-publishers</string>
			<key>name</key>
			<string>publishers</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-science</string>
			<key>name</key>
			<string>science</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-texinfo</string>
			<key>name</key>
			<string>texinfo</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-texworks</string>
			<key>name</key>
			<string>texworks</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-xetex</string>
			<key>name</key>
			<string>xetex</string>
			<key>type</key>
			<string>collection</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>documentation</key>
	<array>
		<dict>
			<key>key</key>
			<string>collection-documentation-arabic</string>
			<key>name</key>
			<string>Arabic</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-base</string>
			<key>name</key>
			<string>Base</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-bulgarian</string>
			<key>name</key>
			<string>Bulgarian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-chinese</string>
			<key>name</key>
			<string>Chinese</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-czechslovak</string>
			<key>name</key>
			<string>Czechslovak</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-dutch</string>
			<key>name</key>
			<string>Dutch</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-english</string>
			<key>name</key>
			<string>English</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-finnish</string>
			<key>name</key>
			<string>Finnish</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-french</string>
			<key>name</key>
			<string>French</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-german</string>
			<key>name</key>
			<string>German</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-italian</string>
			<key>name</key>
			<string>Italian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-japanese</string>
			<key>name</key>
			<string>Japanese</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-korean</string>
			<key>name</key>
			<string>Korean</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-mongolian</string>
			<key>name</key>
			<string>Mongolian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-polish</string>
			<key>name</key>
			<string>Polish</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-portuguese</string>
			<key>name</key>
			<string>Portuguese</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-russian</string>
			<key>name</key>
			<string>Russian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-serbian</string>
			<key>name</key>
			<string>Serbian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-slovenian</string>
			<key>name</key>
			<string>Slovenian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-spanish</string>
			<key>name</key>
			<string>Spanish</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-thai</string>
			<key>name</key>
			<string>Thai</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-turkish</string>
			<key>name</key>
			<string>Turkish</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-ukrainian</string>
			<key>name</key>
			<string>Ukrainian</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-documentation-vietnamese</string>
			<key>name</key>
			<string>Vietnamese</string>
			<key>type</key>
			<string>documentation</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<dict>
			<key>key</key>
			<string>collection-langafrican</string>
			<key>name</key>
			<string>African</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langarabic</string>
			<key>name</key>
			<string>Arabic</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langarmenian</string>
			<key>name</key>
			<string>Armenian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langcjk</string>
			<key>name</key>
			<string>Cjk</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langcroatian</string>
			<key>name</key>
			<string>Croatian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langcyrillic</string>
			<key>name</key>
			<string>Cyrillic</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langczechslovak</string>
			<key>name</key>
			<string>Czechslovak</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langdanish</string>
			<key>name</key>
			<string>Danish</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langdutch</string>
			<key>name</key>
			<string>Dutch</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langenglish</string>
			<key>name</key>
			<string>English</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langfinnish</string>
			<key>name</key>
			<string>Finnish</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langfrench</string>
			<key>name</key>
			<string>French</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langgerman</string>
			<key>name</key>
			<string>German</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langgreek</string>
			<key>name</key>
			<string>Greek</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langhebrew</string>
			<key>name</key>
			<string>Hebrew</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langhungarian</string>
			<key>name</key>
			<string>Hungarian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langindic</string>
			<key>name</key>
			<string>Indic</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langitalian</string>
			<key>name</key>
			<string>Italian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langlatin</string>
			<key>name</key>
			<string>Latin</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langlatvian</string>
			<key>name</key>
			<string>Latvian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langlithuanian</string>
			<key>name</key>
			<string>Lithuanian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langmongolian</string>
			<key>name</key>
			<string>Mongolian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langnorwegian</string>
			<key>name</key>
			<string>Norwegian</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langother</string>
			<key>name</key>
			<string>Other</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langpolish</string>
			<key>name</key>
			<string>Polish</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langportuguese</string>
			<key>name</key>
			<string>Portuguese</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langspanish</string>
			<key>name</key>
			<string>Spanish</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langswedish</string>
			<key>name</key>
			<string>Swedish</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langtibetan</string>
			<key>name</key>
			<string>Tibetan</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langturkmen</string>
			<key>name</key>
			<string>Turkmen</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>collection-langvietnamese</string>
			<key>name</key>
			<string>Vietnamese</string>
			<key>type</key>
			<string>language</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>options</key>
	<array>
		<dict>
			<key>key</key>
			<string>option_autobackup</string>
			<key>name</key>
			<string>option_autobackup</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_backupdir</string>
			<key>name</key>
			<string>option_backupdir</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<string>tlpkg/backups</string>
		</dict>
		<dict>
			<key>key</key>
			<string>option_desktop_integration</string>
			<key>name</key>
			<string>option_desktop_integration</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_doc</string>
			<key>name</key>
			<string>option_doc</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_file_assocs</string>
			<key>name</key>
			<string>option_file_assocs</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_fmt</string>
			<key>name</key>
			<string>option_fmt</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_letter</string>
			<key>name</key>
			<string>option_letter</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_path</string>
			<key>name</key>
			<string>option_path</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_post_code</string>
			<key>name</key>
			<string>option_post_code</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_src</string>
			<key>name</key>
			<string>option_src</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_sys_bin</string>
			<key>name</key>
			<string>option_sys_bin</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<string>/usr/local/bin</string>
		</dict>
		<dict>
			<key>key</key>
			<string>option_sys_info</string>
			<key>name</key>
			<string>option_sys_info</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<string>/usr/local/info</string>
		</dict>
		<dict>
			<key>key</key>
			<string>option_sys_man</string>
			<key>name</key>
			<string>option_sys_man</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<string>/usr/local/man</string>
		</dict>
		<dict>
			<key>key</key>
			<string>option_w32_multi_user</string>
			<key>name</key>
			<string>option_w32_multi_user</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>option_write18_restricted</string>
			<key>name</key>
			<string>option_write18_restricted</string>
			<key>type</key>
			<string>option</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>other</key>
	<array>
		<dict>
			<key>key</key>
			<string>selected_scheme</string>
			<key>name</key>
			<string>selected_scheme</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>scheme-full</string>
		</dict>
		<dict>
			<key>key</key>
			<string>binary_universal-darwin</string>
			<key>name</key>
			<string>binary_universal-darwin</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>binary_x86_64-darwin</string>
			<key>name</key>
			<string>binary_x86_64-darwin</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>from_dvd</string>
			<key>name</key>
			<string>from_dvd</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>portable</string>
			<key>name</key>
			<string>portable</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>variables</key>
	<array>
		<dict>
			<key>key</key>
			<string>TEXDIR</string>
			<key>name</key>
			<string>TEXDIR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2010</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXDIRW</string>
			<key>name</key>
			<string>TEXDIRW</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2010</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFCONFIG</string>
			<key>name</key>
			<string>TEXMFCONFIG</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texlive/2010/texmf-config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFHOME</string>
			<key>name</key>
			<string>TEXMFHOME</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texmf</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFLOCAL</string>
			<key>name</key>
			<string>TEXMFLOCAL</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/texmf-local</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFSYSCONFIG</string>
			<key>name</key>
			<string>TEXMFSYSCONFIG</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2010/texmf-config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFSYSVAR</string>
			<key>name</key>
			<string>TEXMFSYSVAR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2010/texmf-var</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFVAR</string>
			<key>name</key>
			<string>TEXMFVAR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texlive/2010/texmf-var</string>
		</dict>
	</array>
</dict>
</plist>
