<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collections</key>
	<array/>
	<key>com.googlecode.mactlmgr</key>
	<dict>
		<key>texliveyear</key>
		<string>2020basic</string>
	</dict>
	<key>documentation</key>
	<array/>
	<key>languages</key>
	<array/>
	<key>options</key>
	<array/>
	<key>other</key>
	<array>
		<dict>
			<key>key</key>
			<string>selected_scheme</string>
			<key>name</key>
			<string>selected_scheme</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>scheme-small</string>
		</dict>
		<dict>
			<key>key</key>
			<string>binary_x86_64-darwin</string>
			<key>name</key>
			<string>binary_x86_64-darwin</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>instopt_adjustpath</string>
			<key>name</key>
			<string>instopt_adjustpath</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>instopt_adjustrepo</string>
			<key>name</key>
			<string>instopt_adjustrepo</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>instopt_letter</string>
			<key>name</key>
			<string>instopt_letter</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>instopt_portable</string>
			<key>name</key>
			<string>instopt_portable</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>instopt_write18_restricted</string>
			<key>name</key>
			<string>instopt_write18_restricted</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_autobackup</string>
			<key>name</key>
			<string>tlpdbopt_autobackup</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_backupdir</string>
			<key>name</key>
			<string>tlpdbopt_backupdir</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>tlpkg/backups</string>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_create_formats</string>
			<key>name</key>
			<string>tlpdbopt_create_formats</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_desktop_integration</string>
			<key>name</key>
			<string>tlpdbopt_desktop_integration</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_file_assocs</string>
			<key>name</key>
			<string>tlpdbopt_file_assocs</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_generate_updmap</string>
			<key>name</key>
			<string>tlpdbopt_generate_updmap</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_install_docfiles</string>
			<key>name</key>
			<string>tlpdbopt_install_docfiles</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_install_srcfiles</string>
			<key>name</key>
			<string>tlpdbopt_install_srcfiles</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_post_code</string>
			<key>name</key>
			<string>tlpdbopt_post_code</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_sys_bin</string>
			<key>name</key>
			<string>tlpdbopt_sys_bin</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>/usr/local/bin</string>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_sys_info</string>
			<key>name</key>
			<string>tlpdbopt_sys_info</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>/usr/local/share/info</string>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_sys_man</string>
			<key>name</key>
			<string>tlpdbopt_sys_man</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<string>/usr/local/share/man</string>
		</dict>
		<dict>
			<key>key</key>
			<string>tlpdbopt_w32_multi_user</string>
			<key>name</key>
			<string>tlpdbopt_w32_multi_user</string>
			<key>type</key>
			<string>unknown</string>
			<key>value</key>
			<true/>
		</dict>
	</array>
	<key>variables</key>
	<array>
		<dict>
			<key>key</key>
			<string>TEXDIR</string>
			<key>name</key>
			<string>TEXDIR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2020basic</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFCONFIG</string>
			<key>name</key>
			<string>TEXMFCONFIG</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texlive/2020basic/texmf-config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFHOME</string>
			<key>name</key>
			<string>TEXMFHOME</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texmf</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFLOCAL</string>
			<key>name</key>
			<string>TEXMFLOCAL</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2020basic/texmf-local</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFSYSCONFIG</string>
			<key>name</key>
			<string>TEXMFSYSCONFIG</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2020basic/texmf-config</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFSYSVAR</string>
			<key>name</key>
			<string>TEXMFSYSVAR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>/usr/local/texlive/2020basic/texmf-var</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TEXMFVAR</string>
			<key>name</key>
			<string>TEXMFVAR</string>
			<key>type</key>
			<string>variable</string>
			<key>value</key>
			<string>~/Library/texlive/2020basic/texmf-var</string>
		</dict>
	</array>
</dict>
</plist>
