<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sites</key>
	<dict>
		<key>Africa</key>
		<array>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.leg.uct.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>http://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
					<string>rsync://ftp.leg.uct.ac.za/pub/packages/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>South Africa</string>
				<key>name</key>
				<string>ftp.sun.ac.za</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.sun.ac.za/CTAN</string>
				</array>
			</dict>
		</array>
		<key>Asia</key>
		<array>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>ftp.ctex.org</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ctex.org/mirrors/CTAN/</string>
					<string>http://ftp.ctex.org/mirrors/CTAN/</string>
					<string>rsync://ftp.ctex.org/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.bjtu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.bjtu.edu.cn/CTAN/</string>
					<string>rsync://mirror.bjtu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.neu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.neu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirror.qdu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirror.qdu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.ustc.edu.cn</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ustc.edu.cn/CTAN/</string>
					<string>http://mirrors.ustc.edu.cn/CTAN/</string>
					<string>rsync://mirrors.ustc.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>China</string>
				<key>name</key>
				<string>mirrors.xmu.edu.cn</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.xmu.edu.cn/CTAN/</string>
					<string>ftp://mirrors.xmu.edu.cn/CTAN/</string>
					<string>rsync://mirrors.xmu.edu.cn/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Hong Kong</string>
				<key>name</key>
				<string>ftp.comp.hkbu.edu.hk</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.comp.hkbu.edu.hk/pub/TeX/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>India</string>
				<key>name</key>
				<string>ctan.imsc.res.in</string>
				<key>urls</key>
				<array>
					<string>http://ctan.imsc.res.in/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>ctan.cermin.lipi.go.id</string>
				<key>urls</key>
				<array>
					<string>http://ctan.cermin.lipi.go.id/</string>
					<string>rsync://ctan.cermin.lipi.go.id/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>ftp.itb.ac.id</string>
				<key>urls</key>
				<array>
					<string>http://ftp.itb.ac.id/pub/CTAN/</string>
					<string>ftp://ftp.itb.ac.id/pub/CTAN/</string>
					<string>rsync://ftp.itb.ac.id/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>kambing.ui.ac.id</string>
				<key>urls</key>
				<array>
					<string>ftp://kambing.ui.ac.id/ctan/</string>
					<string>http://kambing.ui.ac.id/ctan/</string>
					<string>rsync://kambing.ui.ac.id/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Indonesia</string>
				<key>name</key>
				<string>kebo.vlsm.org</string>
				<key>urls</key>
				<array>
					<string>ftp://kebo.vlsm.org/CTAN/</string>
					<string>http://kebo.vlsm.org/CTAN/</string>
					<string>rsync://kebo.vlsm.org/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.um.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://ctan.um.ac.ir/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Iran</string>
				<key>name</key>
				<string>ctan.yazduni.ac.ir</string>
				<key>urls</key>
				<array>
					<string>http://ctan.yazduni.ac.ir/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.jaist.ac.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.jaist.ac.jp/pub/CTAN</string>
					<string>http://ftp.jaist.ac.jp/pub/CTAN/</string>
					<string>rsync://ftp.jaist.ac.jp/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.kddilabs.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kddilabs.jp/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.riken.go.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.riken.go.jp/pub/tex-archive</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.u-aizu.ac.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.u-aizu.ac.jp/pub/tex/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Japan</string>
				<key>name</key>
				<string>ftp.yz.yamagata-u.ac.jp</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.yz.yamagata-u.ac.jp/pub/CTAN</string>
					<string>http://ftp.yz.yamagata-u.ac.jp/pub/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.kaist.ac.kr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.kaist.ac.kr/tex-archive/</string>
					<string>rsync://ftp.kaist.ac.kr/ctan/</string>
					<string>http://ftp.kaist.ac.kr/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Korea</string>
				<key>name</key>
				<string>ftp.ktug.or.kr</string>
				<key>urls</key>
				<array>
					<string>http://ftp.ktug.org.kr/tex-archive/</string>
					<string>rsync://rsync.ktug.or.kr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Malaysia</string>
				<key>name</key>
				<string>mirror.upm.edu.my</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.upm.edu.my/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Pakistan</string>
				<key>name</key>
				<string>mirror-cybernet.lums.edu.pk</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror-cybernet.lums.edu.pk/pub/ctan/</string>
					<string>http://mirror-cybernet.lums.edu.pk/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Pakistan</string>
				<key>name</key>
				<string>stingray.cyber.net.pk</string>
				<key>urls</key>
				<array>
					<string>ftp://stingray.cyber.net.pk/ctan/</string>
					<string>http://stingray.cyber.net.pk/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Singapore</string>
				<key>name</key>
				<string>raffles.nus.edu.sg</string>
				<key>urls</key>
				<array>
					<string>http://raffles.nus.edu.sg/mirror/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ctan.cdpa.nsysu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.cdpa.nsysu.edu.tw/Unix/TeX/CTAN</string>
					<string>http://ctan.cdpa.nsysu.edu.tw/</string>
					<string>rsync://ctan.cdpa.nsysu.edu.tw/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.ccu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ccu.edu.tw/pub/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>ftp.cs.pu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cs.pu.edu.tw/pub/CTAN</string>
					<string>http://ftp.cs.pu.edu.tw/pub/CTAN</string>
					<string>rsync://ftp.cs.pu.edu.tw/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>mirror.cs.nctu.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.cs.nctu.edu.tw/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Taiwan</string>
				<key>name</key>
				<string>shadow.ind.ntou.edu.tw</string>
				<key>urls</key>
				<array>
					<string>ftp://shadow.ind.ntou.edu.tw/ctan/</string>
					<string>http://shadow.ind.ntou.edu.tw/ctan/</string>
					<string>rsync://shadow.ind.ntou.edu.tw/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Thailand</string>
				<key>name</key>
				<string>ctan.megagod.net</string>
				<key>urls</key>
				<array>
					<string>http://ctan.megagod.net/tex-archive/</string>
				</array>
			</dict>
		</array>
		<key>Australasia</key>
		<array>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>name</key>
				<string>ctan.unsw.edu.au</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.unsw.edu.au/tex-archive</string>
					<string>http://ctan.unsw.edu.au/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>New Zealand</string>
				<key>name</key>
				<string>elena.aut.ac.nz</string>
				<key>urls</key>
				<array>
					<string>ftp://elena.aut.ac.nz/pub/ctan</string>
					<string>http://elena.aut.ac.nz/ctan/</string>
				</array>
			</dict>
		</array>
		<key>Europe</key>
		<array>
			<dict>
				<key>country</key>
				<string>Austria</string>
				<key>name</key>
				<string>ftp.univie.ac.at</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.univie.ac.at/packages/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Denmark</string>
				<key>name</key>
				<string>mirrors.dotsrc.org</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.dotsrc.org/ctan</string>
					<string>http://mirrors.dotsrc.org/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Estonia</string>
				<key>name</key>
				<string>ftp.linux.ee</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.linux.ee/pub/tex-archive</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Finland</string>
				<key>name</key>
				<string>ftp.funet.fi</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.funet.fi/pub/TeX/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ctan.mines-albi.fr</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mines-albi.fr/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>distrib-coffee.ipsl.jussieu.fr</string>
				<key>urls</key>
				<array>
					<string>http://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>ftp://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
					<string>rsync://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ftp.inria.fr</string>
				<key>urls</key>
				<array>
					<string>http://ftp.inria.fr/pub/TeX/CTAN/</string>
					<string>ftp://ftp.inria.fr/pub/TeX/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>ftp.oleane.net</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.oleane.net/pub/CTAN/</string>
					<string>http://ftp.oleane.net/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirror.ibcp.fr</string>
				<key>urls</key>
				<array>
					<string>http://mirror.ibcp.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.ircam.fr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ircam.fr/pub/CTAN</string>
					<string>http://mirrors.ircam.fr/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>France</string>
				<key>name</key>
				<string>mirrors.linsrv.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.linsrv.net/tex-archive/</string>
					<string>http://mirrors.linsrv.net/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fernuni-hagen.de</string>
				<key>urls</key>
				<array>
					<string>http://ftp.fernuni-hagen.de/ftp-dir/pub/mirrors/www.ctan.org/</string>
					<string>ftp://ftp.fernuni-hagen.de/pub/mirrors/www.ctan.org/</string>
					<string>rsync://ftp.fernuni-hagen.de/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.fu-berlin.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fu-berlin.de/tex/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.gwdg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gwdg.de/pub/dante</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.mpi-sb.mpg.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.mpi-sb.mpg.de/pub/tex/mirror/ftp.dante.de/pub/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.rrzn.uni-hannover.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.tu-chemnitz.de</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.tu-chemnitz.de/pub/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>ftp.uni-erlangen.de</string>
				<key>urls</key>
				<array>
					<string>http://ftp.uni-erlangen.de/mirrors/CTAN/</string>
					<string>ftp://ftp.uni-erlangen.de/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>mirror.informatik.uni-mannheim.de</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.informatik.uni-mannheim.de/pub/mirrors/tex-archive/</string>
					<string>http://mirror.informatik.uni-mannheim.de/pub/mirrors/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Germany</string>
				<key>name</key>
				<string>sunsite.informatik.rwth-aachen.de</string>
				<key>urls</key>
				<array>
					<string>http://sunsite.informatik.rwth-aachen.de/ftp/pub/mirror/ctan/</string>
					<string>ftp://sunsite.informatik.rwth-aachen.de/pub/mirror/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.cc.uoc.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cc.uoc.gr/mirrors/CTAN/</string>
					<string>http://ftp.cc.uoc.gr/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.ntua.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ntua.gr/mirror/ctan</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Greece</string>
				<key>name</key>
				<string>ftp.uoi.gr</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.uoi.gr/pub/tex/</string>
					<string>http://ftp.uoi.gr/pub/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Hungary</string>
				<key>name</key>
				<string>ftp.sztaki.hu</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.sztaki.hu/pub/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Ireland</string>
				<key>name</key>
				<string>ftp.heanet.ie</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.heanet.ie/pub/ctan/tex</string>
					<string>http://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
					<string>rsync://ftp.heanet.ie/mirrors/ctan.org/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Italy</string>
				<key>name</key>
				<string>cis.uniRoma2.it</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.uniRoma2.it/TeX</string>
					<string>http://ftp.uniRoma2.it/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Italy</string>
				<key>name</key>
				<string>ctan.mirror.garr.it</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirror.garr.it/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Lithuania</string>
				<key>name</key>
				<string>ctan.vgtu.lt</string>
				<key>urls</key>
				<array>
					<string>http://ctan.vgtu.lt/</string>
					<string>rsync://ctan.vgtu.lt/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ctan.uib.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.uib.no/pub/CTAN/</string>
					<string>http://ctan.uib.no/</string>
					<string>rsync://ctan.uib.no/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Norway</string>
				<key>name</key>
				<string>ftp.fagskolen.gjovik.no</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.fagskolen.gjovik.no/pub/tex-archive/</string>
					<string>http://ftp.fagskolen.gjovik.no/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>ftp.gust.org.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gust.org.pl/TeX</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>ftp.tpnet.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.tpnet.pl/pub/CTAN/</string>
					<string>rsync://ftp.tpnet.pl/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>piotrkosoft.net</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.piotrkosoft.net/pub/mirrors/CTAN</string>
					<string>http://piotrkosoft.net/pub/mirrors/CTAN/</string>
					<string>rsync://ftp.piotrkosoft.net/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Poland</string>
				<key>name</key>
				<string>sunsite.icm.edu.pl</string>
				<key>urls</key>
				<array>
					<string>ftp://sunsite.icm.edu.pl/pub/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.di.uminho.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.di.uminho.pt/pub/ctan</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.eq.uc.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.eq.uc.pt/pub/software/TeX</string>
					<string>http://ftp.eq.uc.pt/software/TeX/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>ftp.ist.utl.pt</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ist.utl.pt/pub/ctan</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Portugal</string>
				<key>name</key>
				<string>neacm.fe.up.pt</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.fe.up.pt/pub/CTAN</string>
					<string>ftp://mirrors.fe.up.pt/pub/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Romania</string>
				<key>name</key>
				<string>ftp.roedu.net</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.roedu.net/mirrors/ctan.org/</string>
					<string>http://ftp.roedu.net/mirrors/ctan.org/</string>
					<string>rsync://ftp.roedu.net/mirrors/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>ctan.uni-altai.ru</string>
				<key>urls</key>
				<array>
					<string>http://ctan.uni-altai.ru/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>ctan.usu.ru</string>
				<key>urls</key>
				<array>
					<string>http://ctan.usu.ru/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>ftp.vsu.ru</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.vsu.ru/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>mirror.macomnet.net</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.macomnet.net/pub/CTAN/</string>
					<string>http://mirror.macomnet.net/pub/CTAN/</string>
					<string>rsync://mirror.macomnet.net/pub/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Russia</string>
				<key>name</key>
				<string>tex.ihep.su</string>
				<key>urls</key>
				<array>
					<string>ftp://tex.ihep.su/pub/TeX/CTAN</string>
					<string>http://tex.ihep.su/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Serbia and Montenegro</string>
				<key>name</key>
				<string>rpm.scl.rs</string>
				<key>urls</key>
				<array>
					<string>http://rpm.scl.rs/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Slovenia</string>
				<key>name</key>
				<string>ctan.ijs.si</string>
				<key>urls</key>
				<array>
					<string>http://ctan.ijs.si/tex-archive/</string>
					<string>rsync://ctan.ijs.si/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Spain</string>
				<key>name</key>
				<string>ftp.gui.uva.es</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.gui.uva.es/sites/ctan.org/</string>
					<string>http://ftp.gui.uva.es/sites/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Switzerland</string>
				<key>name</key>
				<string>mirror.switch.ch</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.switch.ch/mirror/tex</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>ftp.cstug.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cstug.cz/pub/tex/CTAN</string>
					<string>http://www.cstug.cz/ctan/index.html</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Czech Republic</string>
				<key>name</key>
				<string>ftp.cvut.cz</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.cvut.cz/tex-archive/</string>
					<string>http://ftp.cvut.cz/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ftp.ntg.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.ntg.nl/mirror/tex-archive</string>
					<string>http://www.cs.ruu.nl/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>The Netherlands</string>
				<key>name</key>
				<string>ftp.snt.utwente.nl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.snt.utwente.nl/pub/software/tex/</string>
					<string>http://ftp.snt.utwente.nl/pub/software/tex/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>anorien.csc.warwick.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://anorien.csc.warwick.ac.uk/CTAN/</string>
					<string>http://anorien.csc.warwick.ac.uk/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>ctan.sqsol.co.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.sqsol.co.uk/pub/CTAN/</string>
					<string>http://ctan.sqsol.co.uk/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>UK</string>
				<key>name</key>
				<string>mirror.ox.ac.uk</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.ox.ac.uk/sites/ctan.org/</string>
					<string>http://mirror.ox.ac.uk/sites/ctan.org/</string>
				</array>
			</dict>
		</array>
		<key>North America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.cms.math.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.cms.math.ca/tex-archive/</string>
					<string>http://ctan.math.ca/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>ctan.mirror.rafal.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.mirror.rafal.ca/pub/CTAN/</string>
					<string>http://ctan.mirror.rafal.ca/</string>
					<string>rsync://ctan.mirror.rafal.ca/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.csclub.uwaterloo.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.csclub.uwaterloo.ca/CTAN/</string>
					<string>http://mirror.csclub.uwaterloo.ca/CTAN/</string>
					<string>rsync://mirror.csclub.uwaterloo.ca/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>name</key>
				<string>mirror.its.dal.ca</string>
				<key>urls</key>
				<array>
					<string>ftp://mirror.its.dal.ca/ctan/</string>
					<string>http://mirror.its.dal.ca/ctan/</string>
					<string>rsync://mirror.its.dal.ca/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Costa Rica</string>
				<key>name</key>
				<string>mirrors.ucr.ac.cr</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.ucr.ac.cr/CTAN/</string>
					<string>http://mirrors.ucr.ac.cr/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Mexico</string>
				<key>name</key>
				<string>tezcatl.fciencias.unam.mx</string>
				<key>urls</key>
				<array>
					<string>http://tezcatl.fciencias.unam.mx/tex-archive/</string>
					<string>ftp://tezcatl.fciencias.unam.mx/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>carroll.aset.psu.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://carroll.aset.psu.edu/pub/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.mackichan.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mackichan.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.math.utah.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.math.utah.edu/tex-archive</string>
					<string>http://ctan.math.utah.edu/ctan/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.mirrorcatalogs.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirrorcatalogs.com/</string>
					<string>ftp://ctan.mirrorcatalogs.com/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ctan.unixbrain.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.unixbrain.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ftp.math.purdue.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.math.purdue.edu/mirrors/ctan.org/</string>
					<string>http://ftp.math.purdue.edu/mirrors/ctan.org/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>get-software.net</string>
				<key>urls</key>
				<array>
					<string>ftp://get-software.net/ctan/</string>
					<string>rsync://get-software.net/ctan/</string>
					<string>http://get-software.net/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>ibiblio.org</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.ibiblio.org/pub/mirrors/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>indian.cse.msu.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://indian.cse.msu.edu/pub/mirrors/CTAN</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.hmc.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.hmc.edu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.math.ku.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.math.ku.edu/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.hoobly.com</string>
				<key>urls</key>
				<array>
					<string>http://ctan.mirrors.hoobly.com/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.med.harvard.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirrors.med.harvard.edu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirrors.rit.edu</string>
				<key>urls</key>
				<array>
					<string>ftp://mirrors.rit.edu/CTAN/</string>
					<string>http://mirrors.rit.edu/CTAN/</string>
					<string>rsync://mirrors.rit.edu/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>mirror.unl.edu</string>
				<key>urls</key>
				<array>
					<string>http://mirror.unl.edu/ctan/</string>
					<string>rsync://mirror.unl.edu/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>tug.ctan.org</string>
				<key>urls</key>
				<array>
					<string>ftp://tug.ctan.org/tex-archive</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>USA</string>
				<key>name</key>
				<string>www.math.washington.edu</string>
				<key>urls</key>
				<array>
					<string>http://www.math.washington.edu/tex-archive/</string>
				</array>
			</dict>
		</array>
		<key>South America</key>
		<array>
			<dict>
				<key>country</key>
				<string>Argentina</string>
				<key>name</key>
				<string>www.localhost.net.ar</string>
				<key>urls</key>
				<array>
					<string>http://ctan.localhost.net.ar/</string>
					<string>ftp://mirrors.localhost.net.ar/pub/mirrors/ctan</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>ceres.cisc.usp.br</string>
				<key>urls</key>
				<array>
					<string>ftp://ceres.cisc.usp.br/CTAN/</string>
					<string>http://ceres.cisc.usp.br/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>ctan.tche.br</string>
				<key>urls</key>
				<array>
					<string>http://ctan.tche.br/</string>
					<string>ftp://ctan.tche.br/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>linorg.usp.br</string>
				<key>urls</key>
				<array>
					<string>ftp://linorg.usp.br/CTAN</string>
					<string>http://linorg.usp.br/CTAN/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazil</string>
				<key>name</key>
				<string>mirror.softwarelivre.ufsc.br</string>
				<key>urls</key>
				<array>
					<string>http://mirror.softwarelivre.ufsc.br/pub/ctan/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ctan.dcc.uchile.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ctan.dcc.uchile.cl/pub/lang/ctan/tex-archive</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Chile</string>
				<key>name</key>
				<string>ftp.inf.utfsm.cl</string>
				<key>urls</key>
				<array>
					<string>ftp://ftp.inf.utfsm.cl/pub/tex-archive/</string>
					<string>http://ftp.inf.utfsm.cl/pub/tex-archive/</string>
					<string>rsync://ftp.inf.utfsm.cl/pub/tex-archive/</string>
				</array>
			</dict>
			<dict>
				<key>country</key>
				<string>Colombia</string>
				<key>name</key>
				<string>www.laqee.unal.edu.co</string>
				<key>urls</key>
				<array>
					<string>http://www.laqee.unal.edu.co/tex-archive/</string>
					<string>rsync://www.laqee.unal.edu.co/CTAN/</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>timestamp</key>
	<real>1337050010.142881</real>
</dict>
</plist>
