<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>String</key>
	<string>~/Desktop/00164658/00164658_int16.tiff
~/Desktop/Screen shot 2010-03-01 at 7.04.25 PM.png</string>
</dict>
</plist>
