<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>BackgroundScale</key>
				<integer>1</integer>
				<key>BottomLabels</key>
				<integer>0</integer>
				<key>DrawBox</key>
				<string>On</string>
				<key>DrawGrid</key>
				<string>On</string>
				<key>DrawInside</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Font</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>GridLineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineType</key>
						<integer>1</integer>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>InsideScale</key>
				<integer>1</integer>
				<key>LeftLabels</key>
				<integer>0</integer>
				<key>LineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>MinorTicks</key>
				<string>On</string>
				<key>OverwriteXTicks</key>
				<string>Off</string>
				<key>OverwriteYTicks</key>
				<string>Off</string>
				<key>RightLabels</key>
				<integer>2</integer>
				<key>TickLengthMenu</key>
				<integer>1</integer>
				<key>TickLengthSpecified</key>
				<string>8</string>
				<key>TicksInside</key>
				<string>Off</string>
				<key>Title</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>TitleFont</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLinOrLog</key>
				<integer>0</integer>
				<key>XTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLinOrLog</key>
				<integer>0</integer>
				<key>YTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>List of Numbers</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>List of Numbers</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Plot Points</string>
					<key>CommandType</key>
					<string>Plot Points</string>
					<key>Computation</key>
					<dict>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>4</integer>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>List of Numbers</string>
						</dict>
						<key>SwitchAt</key>
						<string>20K</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DomainRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingHeight</key>
			<real>198</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>1DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ValueRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ViewSizeJoined</key>
			<string>514,198</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>List of Numbers</string>
			<key>WindowPos</key>
			<array>
				<real>240</real>
				<real>211</real>
				<real>512</real>
				<real>413</real>
			</array>
		</dict>
	</array>
	<key>InformationSize</key>
	<array>
		<real>400</real>
		<real>314</real>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>1</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>394</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>count_progress.py</string>
				<key>Argument</key>
				<string></string>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string></string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>Number</string>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>100</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>List of Numbers</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
	</array>
	<key>WindowPos</key>
	<array>
		<real>1</real>
		<real>219</real>
		<real>539</real>
		<real>659</real>
	</array>
</dict>
</plist>
