//
//  Debug.xcconfig
//  TeX Live Utility
//
#include "Common.xcconfig"

ARCHS = $(NATIVE_ARCH_ACTUAL)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
PREBINDING = NO
GCC_OPTIMIZATION_LEVEL = 0

// Used to disable NSAssert macros for release builds
GCC_PREPROCESSOR_DEFINITIONS = DEBUG

RUN_CLANG_STATIC_ANALYZER = YES
