<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>OutputString from Group</string>
					<key>CommandType</key>
					<string>String</string>
					<key>Computation</key>
					<dict>
						<key>Alignment</key>
						<integer>0</integer>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Location</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Offset</key>
						<string>0,0</string>
						<key>Rotation</key>
						<string>0</string>
						<key>String</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>Text</string>
							</dict>
							<key>Selected</key>
							<string>OutputString from Group</string>
						</dict>
						<key>SuperAndSub</key>
						<string>On</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>198</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>DADrawingImages</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>514,198</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>OutputString from Group</string>
			<key>WindowPos</key>
			<array>
				<real>567</real>
				<real>484</real>
				<real>512</real>
				<real>413</real>
			</array>
		</dict>
	</array>
	<key>InformationSize</key>
	<array>
		<real>400</real>
		<real>770</real>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>2</real>
			<key>MaxValue</key>
			<real>2</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>2</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>394</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>group_example.py</string>
				<key>Argument</key>
				<string></string>
				<key>DirName</key>
				<string>.</string>
				<key>DirType</key>
				<integer>0</integer>
				<key>GroupName</key>
				<string>DT_RetGroup</string>
				<key>Input</key>
				<string>GEInput.dtbin</string>
				<key>Output</key>
				<string>GEOutput.dtbin</string>
				<key>Project</key>
				<string></string>
				<key>Structure</key>
				<array>
					<dict>
						<key>Name</key>
						<string>OutputArray</string>
						<key>Type</key>
						<string>Array</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>OutputString</string>
						<key>Type</key>
						<string>String</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Output Number</string>
						<key>Type</key>
						<string>Real Number</string>
					</dict>
				</array>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>InputString</string>
						<key>Type</key>
						<string>String</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>text</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Task</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Group</string>
			<key>VariableType</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Group</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>Output Number</string>
					<key>Token</key>
					<string>Output Number</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>VariableName</key>
			<string>Output Number from Group</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Group</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>OutputString</string>
					<key>Token</key>
					<string>OutputString</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>VariableName</key>
			<string>OutputString from Group</string>
			<key>VariableType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Group</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>OutputArray</string>
					<key>Token</key>
					<string>OutputArray</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>VariableName</key>
			<string>OutputArray from Group</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>OutputArray from Group</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of OutputArray from Group</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
	</array>
	<key>WindowPos</key>
	<array>
		<real>44</real>
		<real>354</real>
		<real>512</real>
		<real>824</real>
	</array>
</dict>
</plist>
