<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MaxZValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>MinZValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical Orthographic</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-72.699999999999989</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-72.7</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>37.269999999999996</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>37.27</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>10 x 20 x 5 grid</string>
					<key>CommandType</key>
					<string>Grid</string>
					<key>Computation</key>
					<dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>grid</string>
						</dict>
						<key>Restrict</key>
						<string>On</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Math Axis</string>
					<key>CommandType</key>
					<string>Math Axis</string>
					<key>Computation</key>
					<dict>
						<key>Center</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0,0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>9</string>
								<key>Type</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ticks</key>
						<string>On</string>
						<key>Type</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>3D Coordinate Plane</string>
					<key>CommandType</key>
					<string>Coordinate Plane</string>
					<key>Computation</key>
					<dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.14416930295418712</real>
										<key>Green</key>
										<real>0.12279614205733293</real>
										<key>Red</key>
										<real>0.98469387755102045</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>2</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plane</key>
						<dict>
							<key>Selected</key>
							<string>XY Coordinate Plane</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>43</real>
			<key>DrawingWindowType</key>
			<string>3DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindow</key>
			<string>YES</string>
			<key>SeparateWindowPos</key>
			<array>
				<real>3106</real>
				<real>25</real>
				<real>543</real>
				<real>514</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>504,43</string>
			<key>ViewSizeSeparated</key>
			<string>543,492</string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>10 x 20 x 5 grid</string>
			<key>WindowPos</key>
			<array>
				<real>758</real>
				<real>741</real>
				<real>502</real>
				<real>437</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>Projection of Slice of grid</string>
					<key>CommandType</key>
					<string>Path</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>ClockWiseSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Path</key>
						<dict>
							<key>Selected</key>
							<string>Projection of Slice of grid</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>AxisTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawGrid</key>
						<string>On</string>
						<key>DrawX</key>
						<string>On</string>
						<key>DrawY</key>
						<string>On</string>
						<key>Font</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>1</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Line</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Meet</key>
						<integer>1</integer>
						<key>MinorTicks</key>
						<string>On</string>
						<key>TitleFont</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XFrom</key>
						<string>Off</string>
						<key>XTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YFrom</key>
						<string>Off</string>
						<key>YTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>340</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>576,340</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Projection of Slice of grid</string>
			<key>WindowPos</key>
			<array>
				<real>2952</real>
				<real>522</real>
				<real>574</real>
				<real>658</real>
			</array>
		</dict>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>1</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>874</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Ending</key>
				<string>On</string>
				<key>FileIsClosed</key>
				<string>NO</string>
				<key>FileName</key>
				<string>~/build/datatank_py/structured_grid3d.dtbin</string>
			</dict>
			<key>Selection</key>
			<string>Open</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>structured_grid3d.dtbin</string>
			<key>VariableType</key>
			<string>DataFile</string>
			<key>ViewHeight</key>
			<real>160</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>structured_grid3d.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>grid</string>
					<key>Token</key>
					<string>grid</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>grid</string>
			<key>VariableType</key>
			<string>StructuredGrid3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Selected</key>
					<string>grid</string>
				</dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Value</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Slice of Grid by Index</string>
			<key>VariableName</key>
			<string>Slice of grid</string>
			<key>VariableType</key>
			<string>Path3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Path</key>
				<dict>
					<key>Selected</key>
					<string>Slice of grid</string>
				</dict>
				<key>Plane</key>
				<dict>
					<key>Selected</key>
					<string>XY Coordinate Plane</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Projection</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Projection of Slice of grid</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Plane</key>
				<integer>2</integer>
				<key>Range</key>
				<string>0,1</string>
				<key>Value</key>
				<dict>
					<key>CurrentValue</key>
					<real>0.55800000000000005</real>
					<key>MaxValue</key>
					<real>1</real>
					<key>MinValue</key>
					<real>0.0</real>
					<key>String</key>
					<string>0.558</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Slider</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>XY Coordinate Plane</string>
			<key>VariableType</key>
			<string>CoordinatePlane3D</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>15</real>
		<real>260</real>
		<real>926</real>
		<real>905</real>
	</array>
</dict>
</plist>
