<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>Background</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>BackgroundScale</key>
				<integer>1</integer>
				<key>BottomLabels</key>
				<integer>0</integer>
				<key>DrawBox</key>
				<string>On</string>
				<key>DrawGrid</key>
				<string>On</string>
				<key>DrawInside</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Space</key>
							<string>NSCalibratedWhiteColorSpace</string>
							<key>White</key>
							<real>1</real>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Font</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>GridLineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineType</key>
						<integer>1</integer>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>InsideScale</key>
				<integer>1</integer>
				<key>LeftLabels</key>
				<integer>0</integer>
				<key>LineStyle</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>LineWidth</key>
						<string>0.5</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>MinorTicks</key>
				<string>On</string>
				<key>OverwriteXTicks</key>
				<string>Off</string>
				<key>OverwriteYTicks</key>
				<string>Off</string>
				<key>RightLabels</key>
				<integer>2</integer>
				<key>TickLengthMenu</key>
				<integer>1</integer>
				<key>TickLengthSpecified</key>
				<string>8</string>
				<key>TicksInside</key>
				<string>Off</string>
				<key>Title</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>TitleFont</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>Name</key>
						<string>Helvetica</string>
						<key>Size</key>
						<string>12</string>
						<key>Type</key>
						<integer>3</integer>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>XLinOrLog</key>
				<integer>0</integer>
				<key>XTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLabel</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>YLinOrLog</key>
				<integer>0</integer>
				<key>YTicks</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>Plot of TimeTest Flattened</string>
					<key>CommandType</key>
					<string>Plot</string>
					<key>Computation</key>
					<dict>
						<key>CropDomainSwitch</key>
						<string>Off</string>
						<key>CropRange</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValue</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-∞,∞</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropValuesSwitch</key>
						<string>Off</string>
						<key>FillFrom</key>
						<string>0</string>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>Plot of TimeTest</string>
						</dict>
						<key>XorY</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Plot Points</string>
					<key>CommandType</key>
					<string>Plot Points</string>
					<key>Computation</key>
					<dict>
						<key>IncludeInLegend</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>4</integer>
						<key>Plot</key>
						<dict>
							<key>Selected</key>
							<string>Plot of TimeTest</string>
						</dict>
						<key>SwitchAt</key>
						<string>20K</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DomainRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string>20</string>
						<key>Min</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>3</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingHeight</key>
			<real>247</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>1DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ValueRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string>20</string>
						<key>Min</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>3</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ViewSizeJoined</key>
			<string>524,247</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Plot of TimeTest Flattened</string>
			<key>WindowPos</key>
			<array>
				<real>589</real>
				<real>380</real>
				<real>522</real>
				<real>498</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>2D Region</string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.10000000000000001</real>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>2D Region</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>PointTest</string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Collection</key>
						<dict>
							<key>Selected</key>
							<string>PointTest</string>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>4</integer>
						<key>SwitchAt</key>
						<string>10000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>AxisTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawGrid</key>
						<string>On</string>
						<key>DrawX</key>
						<string>On</string>
						<key>DrawY</key>
						<string>On</string>
						<key>Font</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Grid</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>1</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Line</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Meet</key>
						<integer>1</integer>
						<key>MinorTicks</key>
						<string>On</string>
						<key>TitleFont</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XFrom</key>
						<string>Off</string>
						<key>XTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>XTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YFrom</key>
						<string>Off</string>
						<key>YTicks</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Text</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>YTitle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string></string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Title</string>
					<key>CommandType</key>
					<string>Title</string>
					<key>Computation</key>
					<dict>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>3</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Offset</key>
						<string>0,0</string>
						<key>Position</key>
						<integer>1</integer>
						<key>String</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>Description</string>
							</dict>
							<key>Selected</key>
							<string>StringTest</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>198</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>514,198</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>PointTest</string>
			<key>WindowPos</key>
			<array>
				<real>531</real>
				<real>465</real>
				<real>512</real>
				<real>413</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>Image background</string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>Bounding box of Image</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Exclude</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Image</string>
					<key>CommandType</key>
					<string>Bitmap</string>
					<key>Computation</key>
					<dict>
						<key>Bitmap</key>
						<dict>
							<key>Selected</key>
							<string>Image</string>
						</dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Sparsify</key>
						<string>On</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>265</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>562,265</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>Image</string>
			<key>WindowPos</key>
			<array>
				<real>535</real>
				<real>349</real>
				<real>560</real>
				<real>529</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>52.119999999999997</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>52.12</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>43.140000000000001</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>43.14</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string>TestMesh</string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>ColorRamp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>DrawLines</key>
						<string>Off</string>
						<key>HeighOption</key>
						<integer>0</integer>
						<key>Height</key>
						<string>0</string>
						<key>Material</key>
						<integer>0</integer>
						<key>MaxNumber</key>
						<string>6M</string>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>TestMesh</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0,1</string>
							</dict>
							<key>Selected</key>
							<string>Range of TestMesh</string>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string>Axis</string>
					<key>CommandType</key>
					<string>Axis</string>
					<key>Computation</key>
					<dict>
						<key>Center</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Color</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Options</key>
						<integer>0</integer>
						<key>Size</key>
						<string>1</string>
						<key>Type</key>
						<integer>0</integer>
						<key>Value</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>325</real>
			<key>DrawingWindowType</key>
			<string>2DPlotGL</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>569,325</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>TestMesh</string>
			<key>WindowPos</key>
			<array>
				<real>675</real>
				<real>243</real>
				<real>567</real>
				<real>635</real>
			</array>
		</dict>
	</array>
	<key>InformationSize</key>
	<array>
		<real>400</real>
		<real>824</real>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>9</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>554</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Ending</key>
				<string>On</string>
				<key>FileIsClosed</key>
				<string>NO</string>
				<key>FileName</key>
				<string>test.dtbin</string>
			</dict>
			<key>Selection</key>
			<string>Open</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>test.dtbin</string>
			<key>VariableType</key>
			<string>DataFile</string>
			<key>ViewHeight</key>
			<real>160</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>TestStringList</string>
					<key>Token</key>
					<string>TestStringList</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>TestStringList</string>
			<key>VariableType</key>
			<string>StringList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>String</key>
				<dict>
					<key>Selected</key>
					<string>TestStringList</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>String In Window</string>
			<key>VariableName</key>
			<string>Content of TestStringList</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>TestMesh</string>
					<key>Token</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>TestMesh</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>TestMesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Value Range</string>
			<key>VariableName</key>
			<string>Range of TestMesh</string>
			<key>VariableType</key>
			<string>Range</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>Image</string>
					<key>Token</key>
					<string>Image</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>Image</string>
			<key>VariableType</key>
			<string>Bitmap2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Image</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Bounding Box</string>
			<key>VariableName</key>
			<string>Bounding box of Image</string>
			<key>VariableType</key>
			<string>Region2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>StringTest</string>
					<key>Token</key>
					<string>StringTest</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>StringTest</string>
			<key>VariableType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>Test0</string>
					<key>Token</key>
					<string>Test0</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>Test0</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>length,1</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>Test0</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Reshape</string>
			<key>VariableName</key>
			<string>Test0 Reshaped</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Test0 Reshaped</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of Test0 Reshaped</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>PointTest</string>
					<key>Token</key>
					<string>PointTest</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>PointTest</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Interactive</key>
				<string>On</string>
				<key>XMax</key>
				<string>20</string>
				<key>XMin</key>
				<string>0</string>
				<key>XRestrict</key>
				<string>-∞,∞</string>
				<key>YMax</key>
				<string>20</string>
				<key>YMin</key>
				<string>0</string>
				<key>YRestrict</key>
				<string>-∞,∞</string>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>2D Region</string>
			<key>VariableType</key>
			<string>Region2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>TimeTest</string>
					<key>Token</key>
					<string>TimeTest</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>TimeTest</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Boundary</key>
				<string>Off</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>TimeTest</string>
				</dict>
				<key>Start</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Step</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From List Of Numbers</string>
			<key>VariableName</key>
			<string>Plot of TimeTest</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>test.dtbin</string>
				</dict>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>Test3</string>
					<key>Token</key>
					<string>Test3</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>VariableName</key>
			<string>Test</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Test</string>
				</dict>
				<key>Subscripts</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>3</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Extract Slices</string>
			<key>VariableName</key>
			<string>Slices from Test</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Slices from Test</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of Slices from Test</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Test</string>
				</dict>
				<key>Digits</key>
				<string>7</string>
				<key>Separator</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Array Text In Window</string>
			<key>VariableName</key>
			<string>Text of Test</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>5,6,7,8</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Var</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>length,1</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>Var</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Reshape</string>
			<key>VariableName</key>
			<string>Var Reshaped</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>FileName</key>
				<string>~/Desktop/from_datatank.dtbin</string>
				<key>TimeChoice</key>
				<integer>0</integer>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>Test</string>
						<key>Type</key>
						<string>Array</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Var Reshaped</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Create Data File</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Saving Var</string>
			<key>VariableType</key>
			<string>Output</string>
		</dict>
	</array>
	<key>WindowPos</key>
	<array>
		<real>9</real>
		<real>0.0</real>
		<real>512</real>
		<real>878</real>
	</array>
</dict>
</plist>
