<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.googlecode.mactlmgr.update_check</string>
	<!-- http://developer.apple.com/library/mac/#technotes/tn2005/tn2083.html -->
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<!-- array is rewritten by the installer script -->
		<string>/usr/bin/python</string>
		<string>-c ""</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
        <key>AssociatedBundleIdentifiers</key>
        <array>
                <string>com.googlecode.mactlmgr.tlu</string>
                <string>com.github.amaxwell.tlutility.texliveupdatecheck</string>
        </array>
</dict>
</plist>
