<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.googlecode.mactlmgr.update_check</string>
	<!-- http://developer.apple.com/library/mac/#technotes/tn2005/tn2083.html -->
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python</string>
		<string>/Library/Application Support/TeX Live Utility/update_check.py</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
